<!-- Loading general-->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading><!-- Alerts -->

<div class="d-flex justify-content-center animated fadeIn" id="alert_mensaje"></div>
<div *ngIf="loading==false">

        
<!-- Cards -->
<div class="row">
        <div class="col-3 d-inline-block" *ngFor="let estadisticaCab of estadisticaCabecera">
            <div *ngIf="estadisticaCab.nombreEstadistica=='Niños en el programa'" class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">{{ estadisticaCab.nombreEstadistica }}</h6>
                    <h2 class="text-right"><img src="../../../../assets/iconos/ninos.svg" class="responsive-res f-left"><span>{{ estadisticaCab.valorEstadistica }}</span></h2>
                    <p class="m-b-0">Aumento último mes <span class="f-right">{{ estadisticaCab.valorDiferenciaUltMes }}</span></p>
                </div>
            </div>
            <div *ngIf="estadisticaCab.nombreEstadistica=='Madres en el programa'" class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">{{ estadisticaCab.nombreEstadistica }}</h6>
                    <h2 class="text-right"><img src="../../../../assets/iconos/madres.svg" class="responsive-res f-left"><span>{{ estadisticaCab.valorEstadistica }}</span></h2>
                    <p class="m-b-0">Aumento último mes <span class="f-right">{{ estadisticaCab.valorDiferenciaUltMes }}</span></p>
                </div>
            </div>
            
            <div *ngIf="estadisticaCab.nombreEstadistica=='Beneficiarios indirectos'" class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">{{ estadisticaCab.nombreEstadistica }}</h6>
                    <h2 class="text-right"><img src="../../../../assets/iconos/familia_black.svg" class="responsive-res f-left"><span>{{ estadisticaCab.valorEstadistica }}</span></h2>
                    <p class="m-b-0">Aumento último mes <span class="f-right">{{ estadisticaCab.valorDiferenciaUltMes }}</span></p>
                </div>
            </div>
            <div *ngIf="estadisticaCab.nombreEstadistica=='Desnutridos'" class="card bg-c-green order-card">
              <div class="card-block">
                  <h6 class="m-b-20">{{ estadisticaCabeceraDesnutridos.nombreEstadistica }}</h6>
                  <h2 class="text-right"><img src="../../../../assets/iconos/asistencia.svg" class="responsive-res f-left"><span>{{ estadisticaCabeceraDesnutridos.valorEstadistica }}</span></h2>
                  <p class="m-b-0">Aumento último mes <span class="f-right">{{ estadisticaCabeceraDesnutridos.valorDiferenciaUltMes }}</span></p>
              </div>
          </div>
    </div>
    <!--
    <div class="col-3" *ngFor="let estadisticaCab of estadisticaCabecera">
        <div class="card mb-4 bg-c-blue order-card">
          <h6 class="m-b-20">{{estadisticaCab.nombreEstadistica}}</h6>
          <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{estadisticaCab.valorEstadistica}}</span></h2>
          <p class="m-b-0"> Aumento último mes: {{estadisticaCab.valorDiferenciaUltMes}} </p>
        </div>
    </div>
  -->
</div>
<hr>
<!-- Form para obtener estadisticas -->
<form (ngSubmit)="buscarEstadisticas(estadisticaform)" [formGroup]="estadisticaform">
  <div class="row justify-content-center">
      <!-- <div class="col-1"></div> -->
      <div class="col-auto">
        Período:
          <p-dropdown [options]="periodo" formControlName="periodo" name="periodo" (onChange)="cambiarFecha(estadisticaform.value.periodo.name)"></p-dropdown> 
          <a data-toggle="tooltip" class="d-inline ml-2" data-placement="right" title="Se agrupan los valores de las estadísticas según el período seleccionado.">
              <img src="/src/assets/iconos/question.png" alt="información" class="mb-1" style="width: 17px; height: 17px;">
          </a>
      </div>
      <div class="col-auto">
        <div *ngIf="periodoP!==mensual; else desdeMensual">
          Desde: <p-calendar formControlName="fechadesde" appendTo="body" [maxDate]="maxDateValue" [readonlyInput]="true"></p-calendar>
        </div>
        <ng-template #desdeMensual>
          Desde: <p-calendar formControlName="fechadesde" appendTo="body" view="month"></p-calendar>
        </ng-template>
      </div>  
      <div class="col-auto">
        <div *ngIf="periodoP!==mensual; else hastaMensual">
        Hasta: <p-calendar formControlName="fechahasta" appendTo="body"  [maxDate]="maxDateValue" [readonlyInput]="true"></p-calendar>
        <a data-toggle="tooltip" class="d-inline ml-2" data-placement="right" title="Fecha desde: Fecha desde la cual se quieren mostrar las estadísticas; debe ser menor a la fecha actual. Fecha hasta: Fecha hasta la cual se quieren mostrar las estadísticas; debe ser mayor a la fecha desde y menor a la fecha actual.">
            <img src="/src/assets/iconos/question.png" alt="información" class="mb-1" style="width: 17px; height: 17px;">
        </a> 
      </div>
        <ng-template #hastaMensual>
        Hasta: <p-calendar formControlName="fechahasta" appendTo="body" view="month"></p-calendar>
        <a data-toggle="tooltip" class="d-inline ml-2" data-placement="right" title="Fecha desde: Fecha desde la cual se quieren mostrar las estadísticas; debe ser menor a la fecha actual. Fecha hasta: Fecha hasta la cual se quieren mostrar las estadísticas; debe ser mayor a la fecha desde y menor a la fecha actual.">
            <img src="/src/assets/iconos/question.png" alt="información" class="mb-1" style="width: 17px; height: 17px;">
        </a>  
      </ng-template>

      </div>
      <div class="col-auto">
          <div *ngIf="estadisticaform.controls.fechadesde.status=='VALID' && estadisticaform.controls.fechahasta.status=='VALID' && estadisticaform.value.fechadesde < estadisticaform.value.fechahasta ; else invalid">
              <button type="submit" class="btn btn-success">Obtener</button>
              <a data-toggle="tooltip" class="d-inline ml-2" data-placement="right" title="Permite visualizar las estadísticas solicitadas. Este botón se mostrará deshabilitado cuando algunas de las fechas sea inválida.">
                  <img src="/src/assets/iconos/question.png" alt="información" class="mb-1" style="width: 17px; height: 17px;">
              </a>  
          </div>
          <ng-template #invalid>
              <button type="submit" class="btn btn-success" disabled>Obtener</button>
              <a data-toggle="tooltip" class="d-inline ml-2" data-placement="right" title="Permite visualizar las estadísticas solicitadas. Este botón se mostrará deshabilitado cuando algunas de las fechas sea inválida.">
                  <img src="/src/assets/iconos/question.png" alt="información" class="mb-1" style="width: 17px; height: 17px;">
              </a>  
          </ng-template>
      </div>   

    </div>
</form>
<br><br>
<ngx-loading [show]="loadingDownload" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading><!-- Alerts -->
<div class="row" style="margin-left: 0%;">
  <!-- Lista de nombres de estadisticas -->
  <div class="col-auto" style="margin-left: 0%">
    <p class="font-weight-light">Cantidad de: </p>
    <!-- Opción con primeng -->
    <!-- <p-listbox [options]="nombreEstadisticas" (onChange)="test(estadisticaSeleccionada)" [(ngModel)]="estadisticaSeleccionada" optionLabel="name" filter="filter" [listStyle]="{'max-height':'310px'}" [style]="{'width':'90%'}"></p-listbox> -->
    <ul class="nav nav-pills flex-column flex-sm-col" id="myTab" role="tablist">
      <div *ngFor="let estadistica of nombreEstadisticas">
        <div *ngIf="estadistica.name==chartSeleccionado; else noSeleccionado">
          <li class="nav-item active">
            <!-- <div class="btn btn-link-secondary btn-xxl mt-2" (click)="visualizarGrafico(estadistica.name)">{{estadistica.name}}</div> -->
            <div class="flex-sm-fill text-sm-center nav-link active" (click)="visualizarGrafico(estadistica.name)">{{estadistica.name}}</div>
          </li>
        </div>
        <ng-template #noSeleccionado>
          <div class="btn btn-link btn-sm mt-2 d-flex" (click)="visualizarGrafico(estadistica.name)">
            <li class="nav-item d-flex">
              <div>{{estadistica.name}}</div>
            </li>
          </div>
        </ng-template>
      </div>
    </ul>
  </div>
  <!-- Chart -->
  <div class="col-7">
    <!-- Loading de obtener estadística -->
  <ngx-loading [show]="loadingEstadistica" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBackgroundColour: 'rgba(0, 0, 0, 0)', backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading><!-- Alerts -->
  <div *ngIf="loadingEstadistica==false">
  <div >
    <div *ngFor="let item of chart">
    <div id="charter" *ngIf="chartSeleccionado==item.nombre">
        <div class="d-flex justify-content-between align-content-center">
            <div class="p-2"><h5>{{item.nombre}}</h5></div>
            <div class="p-2 justify-content-end"><p>{{title}}</p></div>
          </div>
        <!-- <div id="chart" style="visibility: visible"> -->

      <!-- <div class="row"> -->
        <!-- <div class="justify-content-lg-start">
        </div>
           
        <div class="justify-content-lg-end">
            <p>{{title}}</p>
        </div> -->
      <!-- </div> -->
        <!-- </div>
        <div class="col-3">

        </div> -->
        
      <!-- </div> -->
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="item.data"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        legendTitle="Referencias"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="item.xAxisLabel"
        [yAxisLabel]="item.yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
      <!-- <button type="button" class="btn btn-outline-primary" (click)="downloadChart()">Exportar {{item.nombre}} a PDF</button> -->
      <!-- <div> -->
      
    <!-- </div> -->

      <div *ngIf="item.data==[]">
        No hay estadisticas
      </div>
    <!-- </div> -->
    <div class="justify-content-md-end">
    </div>
    
  </div>  
  </div>
</div>
  </div>
</div>
</div>

<!-- <div id="charter">
  gg
    <p>hola que tal</p>
</div> -->
<div class="col-auto">
  <button type="button" class=" btn btn-outline-primary " data-toggle="modal" data-target="#exportarestadisticas">Exportar a PDF</button>
  <a data-toggle="tooltip" class="d-inline ml-2" data-placement="right" title="Permite visualizar una vista previa de la exportación de estadísticas.">
      <img src="/src/assets/iconos/question.png" alt="información" class="mb-1" style="width: 17px; height: 17px;">
  </a>
</div>

<div class="modal fade" id="exportarestadisticas" tabindex="-1" role="dialog" aria-labelledby="exportarestadisticasModalTitle" data-backdrop="false">
    <ngx-loading [show]="loadingPdf" [config]="{ fullScreenBackdrop: 'true' }"></ngx-loading>
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80%;">
    
    <div class="modal-content jumbo-bg shadow-sm border-dark">
      <div class="modal-header">
        <!-- <div class="row"> -->
          <!-- <div class="col-auto"> -->
            <h5 class="modal-title font-weight-light" id="causaInasistenciaModalTitle"><u>Estadísticas</u></h5>           
          <!-- </div>
          <div class="col-3">

          </div> -->
          <!-- <div class="col-auto"> -->
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
          <!-- </div> -->
        <!-- </div> -->

      </div>
      <div class="modal-body text-center">
        <app-estadistica-pdf [chartExportar]="chart" [titleExportar]="title" (loading)="setLoading($event)"></app-estadistica-pdf>
        
      </div>
      
    </div>
  </div>
</div>