<app-loading *ngIf="loading"></app-loading>
<!-- <div *ngIf="alertEstadistica==true"> -->
    <div class="d-flex justify-content-center animated fadeIn" id="alert_mensaje"></div>
<!-- </div> -->
<div class="row">
  <div class="col-9 ml-4">
    <h3>Estadísticas</h3>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-outline-primary ml-5" (click)="mostrarModal()">Calcular estadísticas</button>
  </div>
</div >
<hr>

<!-- Visualizacion de estadisticas -->

<div class="row">
  <div class="col-3">

    <div class="container m-3 fadeIn fast" *ngIf="mostrarEstad">
      <!-- <form (ngSubmit)="obtenerEstadistica()" name="formu" #formSingle="ngForm" novalidate=""> -->
        <div class="row">

            <div class="m-2">
              <p-multiSelect name="estadisticaSelect" ngModel required [options]="nombreEstadisticas" defaultLabel="Selecciona estadísticas." [(ngModel)]="selected" appendTo="body" [style]="{minWidth:'19em'}"></p-multiSelect>
            </div>
            <!-- <div class="m-2">
              <p-multiSelect name="estadisticaSelect" ngModel required [options]="nombreEstadisticas" defaultLabel="Selecciona estadísticas." [(ngModel)]="selected" appendTo="body" [style]="{minWidth:'100px'}"></p-multiSelect>
            </div> -->
            <div class="m-2">
              <!-- <label>Fecha Desde:</label> -->
              <p-calendar [(ngModel)]="fechaDesde" name="fDesde" showIcon="true" placeholder="Feche desde" monthNavigator="true" dateFormat="dd/mm/yy" appendTo="body" [inputStyle]="{minWidth:'16.65em'}"></p-calendar>
              <!-- <div class="form-group">
                <label class="label">Fecha Desde</label>
                <input class="form-control"
                        type="date"
                        name="fechaDesde"
                        ngModel
                        required>
              </div> -->
            </div>

            <div class="m-2">
              <!-- <label>Fecha Hasta:</label> -->
              <p-calendar [(ngModel)]="fechaHasta" id="fHasta" showIcon="true" placeholder="Feche hasta" monthNavigator="true" dateFormat="dd/mm/yy"  appendTo="body" [inputStyle]="{minWidth:'16.65em'}"></p-calendar>
              <!-- <div class="form-group">
                <label class="label">Fecha Hasta</label>
                <input class="form-control"
                        type="date"
                        name="fechaHasta"
                        ngModel
                        required>
              </div> -->
            </div>

            <button type="submit" class="m-2 btn btn-outline-primary btn-block" (click)="obtenerEstadistica()">
              Obtener estadística
            </button>

          </div>
        <!-- </form> -->
    </div>

    <!-- Modal -->
    <div class="fade modal" id="ModalCalculoEstadisticas" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalVerticalLabel">Cálculo de estadísticas</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="m-2">
                    <p-calendar [(ngModel)]="fechaDesdeCalculo" showIcon="true" placeholder="Feche desde" dateFormat="dd/mm/yy" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}"></p-calendar>
                  </div>
                  <div class="m-2">
                    <p-calendar [(ngModel)]="fechaHastaCalculo" showIcon="true" placeholder="Feche hasta" dateFormat="dd/mm/yy" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}"></p-calendar>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="calcularEstadisticas()">Calcular</button>
            </div>
          </div>
        </div>
      </div>





    <!-- Calculo de estadisticas -->
    <!-- <button type="submit" class="m-2 btn btn-outline-primary" (click)="mostrarEstadisticas=!mostrarEstadisticas">{{mostrarEstadisticas ? 'Ocultar' : 'Calcular estadisticas'}}</button> -->
    <div *ngIf="mostrarEstadisticas == true" class="container m-3 fadeIn fast">
      <form (ngSubmit)="calcularEstadisticas(formCalculo)" name="calculo de estadisticas" #formCalculo="ngForm" novalidate="">
        <div style="margin-left:1%">
        <div class="form-group row">
          <label class="col-2 col-form-label">Fecha desde</label>
          <div class="col-8">

            <input class="form-control"
                  type="date"
                  placeholder="fecha desde"
                  name="fechaDesde"
                  ngModel
                  required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">Fecha hasta</label>
          <div class="col-8">

            <input class="form-control"
                  type="date"
                  placeholder="fecha hasta"
                  name="fechaHasta"
                  ngModel
                  required>
          </div>
        </div>
        <div class="d-flex justify-content-center animated fadeIn" id="alert_mensaje"></div>
          <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
              <button type="submit" class="btn btn-outline-primary">
                Calcular Estadísticas
              </button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>


<div class="col-9">
<!-- Grafico/s -->

<div class="container-fluid">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div *ngIf="activarGraf == true" id="estadisticasId">
      <div id="chart" style="visibility: visible">
        <div *ngFor="let estadist of estadisticaArray">
                          <!-- <hr><br> -->
                          <h5>{{estadist.nombre}}</h5>
                          <div class="row m-4" style="margin-left:5%">
                            <ngx-charts-bar-vertical
                              [view]="view"
                              [scheme]="colorScheme"
                              [results]="estadist.data"
                              [gradient]="gradient"
                              [xAxis]="showXAxis"
                              [yAxis]="showYAxis"
                              [legend]="showLegend"
                              [legendTitle]="legendTitle"
                              [roundEdges]="roundEdges"
                              [animations]="animations"
                              [showXAxisLabel]="showXAxisLabel"
                              [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="estadist.xAxisLabel"
                              [yAxisLabel]="estadist.yAxisLabel"
                              (select)="onSelect($event)">
                            </ngx-charts-bar-vertical>
                          </div>

                        <div class="container" style="width:25%; margin-left:4%">
                          <!-- <div class="row m-1"> -->

                            <table class="table table-borderless">
                              <thead>
                                <tr style="font-size:small">
                                  <th>Mínimo</th>
                                  <th>Máximo</th>
                                  <th>Promedio</th>
                                  <th>Último</th>
                                </tr>
                              </thead>
                              <tbody style="font-size:small">
                                <tr style="text-align:center">

                                  <td>{{estadist.valorMinimo}}</td>
                                  <td>{{estadist.valorMaximo}}</td>
                                  <td>{{estadist.promedio | number:'1.2-2'}}</td>
                                  <td>{{estadist.ultimo}}</td>
                                  </tr>
                                </tbody>
                              </table>
                                      <!-- </div> -->
                        <!-- </div> -->
                        </div>

        </div>
                        
                      <div *ngIf="ocultarExportarPdf==false && loading==false">
                        <div class="row">
                          <div class="col" style="margin-left:6%">
                            <!-- <button type="submit" (click)="render()">Exportar a Pdf</button> -->
                            <button type="submit" class="btn btn-outline-secondary" (click)="downloadChart()">Exportar a PDF</button>
                          </div>
                        </div>
                      </div>  
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- <div id="content" #content> -->
  <!-- <h1>alto titulo</h1>
  <p>esto es unaprueba de que funcional export to pdf</p>
</div> -->

<!-- <div style="position: relative; left: 30%;">
  <div class="container" *ngIf="mostrarTodasEstad==true">
    <div *ngFor="let estadisticaas of estadisticasPorFecha">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="estadisticaas.data"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="estadisticaas.xAxisLabel"
        [yAxisLabel]="estadisticaas.yAxisLabel"
        (select)="onSelect($event)">

      </ngx-charts-bar-vertical>
    </div>
  </div> -->




<!-- <div class="input-group col-md-8">
  <button type="button" (click)= class="btn btn-outline-primary">
    Obtener Estadísticas
  </button>
</div> -->
<!-- <hr >
<div class="row">
    <div class="col-md-6">
        <div class="container-fuid" style="background-color:coral;height: 100%;">
          <h1 class="mb-md-4 text-center">Visualizar estadisticas</h1>

          <h4>Ingrese fecha desde y fecha  hasta</h4>

          <div class="form-group">
            <label for="fechadesde">Fecha desde: </label>
            <input type='date' class="form-control mb-md-3" id="fechadesdeVisualizar" name="fechadesde" value="1995-10-06"/>
            <label for="fechahasta">Fecha hasta: </label>
            <input type='date' class="form-control mb-md-3" id="fechahastaVisualizar" name="fechahasta" value="2000-01-01"/>
            <button class="btn btn-default text-center">Ver</button>
          </div>
        </div>

    </div>
  <div class="col-md-6">
      <div class="container-fluid" style="background-color:rgb(129, 223, 85);height: 100%;">
        <h1 class="mb-md-4 text-center">Generar estadistica</h1>

          <h4>Ingrese fecha desde y fecha  hasta</h4>

          <div class="form-group">
            <label for="fechadesde">Fecha desde: </label>
            <input type='date' class="form-control mb-md-3" id="fechadesdeGenerar" name="fechadesde" value="1995-10-06"/>
            <label for="fechahasta">Fecha hasta: </label>
            <input type='date' class="form-control mb-md-3" id="fechahastaGenerar" name="fechahasta" value="2000-01-01"/>
            <button class="btn btn-default">Generar</button>
          </div>


      </div>
  </div>
</div> -->
