<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div *ngIf="!loading">

<h3 style="margin-left: 2%">Integrante familiar</h3>
<hr style="border-color: black;">

<h6  style="margin-left: 2%"><u>Nuevo integrante</u>:</h6>

    <div class="row animated fadeIn">
      <div class="col-12">

        <form [formGroup]="formulariointegrante" (ngSubmit)="confirmarIntegrante()" id="formInt" style="margin-top: 4%; margin-left: 8%;">
              <fieldset>

                <div class="control-group row ml-5" style="margin-bottom: 2%;">
                    <label class="col-sm-4 col-form-label" for="apellido">Apellido:</label>
                    <div class="controls col-sm-4">
                          <input type="text" name="apellido" placeholder= "Apellido" class="form-control" formControlName="apellidoPaciente">

                          <div *ngIf="formulariointegrante.controls['apellidoPaciente'].errors?.minlength?.requiredLength ||
                                formulariointegrante.controls['apellidoPaciente'].errors?.pattern?.requiredPattern ||
                                formulariointegrante.controls['apellidoPaciente'].errors?.required"
                                class="form-control-feedback">
                            <small style="color:red;"> Campo obligatorio. Mínimo 2 letras.</small>
                          </div>
                    </div>
                </div>

                <div class="control-group row ml-5" style="margin-bottom: 2%;">
                    <label class="col-sm-4 col-form-label" for="nombre">Nombre:</label>
                    <div class="controls col-sm-4">
                        <input type="text" name="nombre" placeholder="Nombre" class="form-control" formControlName="nombrePaciente">

                        <div *ngIf="formulariointegrante.controls['nombrePaciente'].errors?.required ||
                              formulariointegrante.controls['nombrePaciente'].errors?.minlength?.requiredLength ||
                              formulariointegrante.controls['nombrePaciente'].errors?.pattern?.requiredPattern"
                              class="form-control-feedback">
                          <small style="color:red;">Campo obligatorio. Mínimo 2 letras.</small>
                        </div>
                    </div>
                </div>

                <div class="form-group row ml-5" style="margin-bottom: 2%;">
                  <label class="col-sm-4 col-form-label" for="fechaNac">Fecha de nacimiento:</label>
                  <div class="controls col-sm-4">
                    <input class="form-control" type="date" name="fechaNac" formControlName="fechaNacimiento" [max]="fechaFiltro">
                        <div *ngIf="formulariointegrante.controls['fechaNacimiento'].errors?.required"
                              class="form-control-feedback" >
                          <small style="color:red;">Campo obligatorio.</small>
                        </div>
                        <div *ngIf="formulariointegrante.controls['fechaNacimiento'].errors?.edadMinMadre"
                              class="form-control-feedback">
                          <small style="color:red;">Pacientes de tipo 'madre' deben ser mayores a 9 años.</small>
                        </div>
                        <div *ngIf="formulariointegrante.controls['fechaNacimiento'].errors?.edadMaxNino"
                              class="form-control-feedback">
                          <small style="color:red;">Pacientes de tipo 'niño' deben ser menores a 5 años.</small>
                        </div>
                  </div>
                </div>

                <div class="control-group row ml-5" style="margin-bottom: 2%;">
                    <label class="col-sm-4 col-form-label" for="dni">DNI:</label>
                    <div class="controls col-sm-4">
                      <input name="dni" class="form-control" formControlName="dniPaciente">

                      <div *ngIf="formulariointegrante.controls['dniPaciente'].errors?.minlength?.requiredLength ||
                              formulariointegrante.controls['dniPaciente'].errors?.pattern?.requiredPattern"
                              class="form-control-feedback">
                          <small style="color:red;">Mínimo 7 números.</small>
                      </div>
                    </div>
                </div>

                <div class="control-group row ml-5" style="margin-bottom: 2%;">
                  <label class="col-sm-4 col-form-label" for="telefono">Teléfono:</label>
                  <div class="controls col-sm-4">
                    <input type="text" name="telefono" class="form-control" formControlName="telefonoPaciente">

                    <div *ngIf="formulariointegrante.controls['telefonoPaciente'].errors?.minlength?.requiredLength ||
                              formulariointegrante.controls['telefonoPaciente'].errors?.pattern?.requiredPattern"
                              class="form-control-feedback">
                          <small style="color:red;">Mínimo 6 números.</small>
                    </div>
                  </div>
                </div>

                <div class="control-group row ml-5" style="margin-bottom: 2%;">
                    <label class="col-sm-4 col-form-label" for="paisNac">País de nacimiento:</label>
                        <select class="form-control col-sm-3 ml-3" type="text" name="PaisNac" formControlName="pais">
                        <option selected [value]="null" disabled> Elegir país </option>
                        <option *ngFor="let pais of listaPaises" [ngValue]= pais.idPais> {{pais.nombrePais}} </option>
                    </select>
                </div>

                <div class="control-group row ml-5" style="margin-bottom: 2%;">
                  <label class="col-sm-4 col-form-label" for="tipoPac">Tipo Paciente:</label>
                    <select class="form-control col-sm-3 ml-3" type="text" name="tipoPac" formControlName="tipoPaciente_id">
                    <option selected [value]="null" disabled> Elegir tipo de paciente</option>  
                    <option *ngFor="let tipopac of tiposPac" [ngValue]= tipopac.id> {{tipopac.nombre}} </option>
                    </select>
                    <a  class="ml-3 col-2 d-flex align-self-center" data-toggle="tooltip" data-placement="right" [title]="placeholder_tipopac">
                        <img src="/src/assets/iconos/question.png" alt="información" style="margin-right: 1vh; width: 18px; height: 18px; margin-bottom: 0.4vh">
                    </a>
                </div>

                <div class="control-group row ml-5" style="margin-bottom: 2%;">
                  <label class="col-sm-4 col-form-label" for="centroS">Centro de salud:</label>
                    <select class="form-control col-sm-3 ml-3" type="text" name="centroS" formControlName="centro">
                    <option selected [value]="null" disabled> Elegir centro de salud</option>  
                    <option *ngFor="let centro of listaCentros" [value]= centro.idCentro> {{centro.nombreCentro}} </option>
                    </select>
                </div>

                <div class="control-group row ml-5" style="margin-bottom: 2%;">
                    <label class="col-sm-4 col-form-label form-check-label" for="sexo">Sexo</label>
                      <div class="controls col-sm-4">
                          <label class="form-check-label" style="margin-left: 8%;">
                              <input type="radio" id="feme" class="form-check-input"
                                    [value]=2 formControlName="sexo">Femenino</label>

                          <label class="form-check-label" style="margin-left: 18%;">
                              <input type="radio" id="masc" class="form-check-input"
                                    [value]=1 formControlName="sexo">Masculino</label>

                          <div *ngIf="formulariointegrante.controls['sexo'].errors?.required">
                            <small style="color:red;">Campo obligatorio.</small>
                          </div>
                      </div>
                </div>
              </fieldset>
        </form>
        <div *ngIf="this.formulariointegrante.controls['tipoPaciente_id'].value == 1">
            <hr>
            <form [formGroup]="responsableFormulario" id="formResp" style="margin-top: 1%; margin-left: 8%;">
                <fieldset>
                    
                    <div class="control-group row ml-5" style="margin-bottom: 1%;">
                        <label class="col-4 col-form-label" for="responsable">Responsable:</label>
                        <label class="col-4 col-form-label ml-3" for="tiporel">Es:</label>
                        <a  class="ml-3 col-2 d-flex align-self-end" data-toggle="tooltip" data-placement="right" 
                        title="Todo niño debe tener un responsable. Elija un responsable adulto y su relación con el paciente.">
                            <img src="/src/assets/iconos/question.png" alt="información" style="margin-right: 1vh; width: 18px; height: 18px; margin-bottom: 0.4vh">
                        </a>
                    </div>
                    <div class="control-group row ml-5" style="margin-bottom: 2%;">
                        <select class="form-control col-4 ml-2" type="text" name="responsable" formControlName="integrante">
                            <option *ngIf="listaIntegrantes.length == 0"> No existen integrantes</option>
                            <option *ngFor="let integ of listaIntegrantes" [ngValue]=integ.id> {{integ.nombre}} </option>
                        </select>
                        <select class="form-control col-4 ml-3" type="text" name="tiporel" formControlName="tiporel">
                            
                            <option *ngFor="let trel of listaTiposrel" [ngValue]=trel.id> {{trel.nombre}} </option>
                        </select>
                    </div>
                        
                        
                </fieldset>
            </form>
            <hr>
        </div>
                    <!------------------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------------------>
        <div class="m-3 ml-4">
            <button class="btn btn-primary" id="domFamiliar" data-toggle="collapse" data-target="#domFamiliares" type="button" aria-expanded="false" aria-controls="domFamiliares">Asignar domicilio familiar</button>
            <button class="btn btn-primary ml-3" id="nuevoDomicilio" type="button" style="display: inline-block" data-toggle="collapse" data-target="#nuevoDom" aria-expanded="false" aria-controls="nuevoDom">Nuevo domicilio</button>
            <div class="d-flex justify-content-end">
                <div *ngIf="mostrarDesahacer" class="form-check">
                    <input type="checkbox" class="form-check-input" id="desahacerDomFam" (click)="desahacerCambiosDom()">
                    <label class="form-check-label" for="exampleCheck1"><small>Desahacer domicilio</small></label>
                </div>
            </div>
        </div>

        <div class="container-fluid">
          <div class="row" id="accordion">
                <div class="col-12">
                    <div class="collapse multi-collapse" id="domFamiliares" data-parent="#accordion">
                        <div class="card card-deck d-flex justify-content-center">

                                <div *ngIf="domiciliosFam === undefined || domiciliosFam.length === 0">
                                        <p class="mt-3">*No hay domicilios familiares. Crear uno nuevo.</p>
                                </div>

                                <div *ngFor="let domFam of domiciliosFam">
                                    <div class="card text-white bg-success mb-3 mt-3 ml-3 mr-2" style="max-width: 14rem;">
                                            <div class="card-header">Datos del domicilio</div>
                                            <div class="card-body">
                                                <p class="card-text">Calle: {{domFam.calle}} </p>
                                                <p class="card-text">N° domicilio: {{domFam.nroDomicilio}} </p>
                                                <p class="card-text">Localidad: {{domFam.localidad.nombreLocalidad}} </p>
                                                <p *ngIf="domFam.departamento!=null" class="card-text">N° departamento: {{domFam.departamento}} </p>
                                                <p *ngIf="domFam.piso!=null" class="card-text">N° piso: {{domFam.piso}} </p>

                                                <!-- Button trigger modal -->
                                                <button type="button" id="asignaDomFam" class="btn btn-outline-light btn-sm" (click)="ActualizarDom(domFam.idDomicilio)">
                                                    Asignar como domicilio
                                                </button>
                                            </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>

            <div class="col-11 mb-2">
              <div class="collapse multi-collapse" id="nuevoDom" data-parent="#accordion">
                <div class="card card-body">

                        <form [formGroup]="residenciaFormulario" (ngSubmit)="confirmarIntegrante()" style="margin-left: 8%">
                            <div formGroupName="domicilioForm">
                                <div class="control-group row ml-5" style="margin-bottom: 3%">
                                    <label class="col-sm-4 col-form-label" for="tipoPac">Calle del domicilio:</label>
                                        <div class="controls col-sm-4">
                                            <input type="text" name="calle" placeholder="Nombre de la calle." class="form-control" formControlName="calle">
                                                    <div *ngIf="residenciaFormulario.controls['domicilioForm'].controls['calle'].errors?.required" class="form-control-feedback">
                                                        <small style="color:red;">Campo obligatorio.</small>
                                                    </div>
                                        </div>
                                </div>
                            </div>

                                <div style="margin-left:7%; margin-top:2%;">
                                    <div class="container m-4">
                                        <div class="row ">
                                            <div formGroupName="domicilioForm">
                                                <div class="form-group col-md-10 text-center">
                                                        <span class="help-block text-muted small-font"> Número de domicilio</span>
                                                        <input type="text" style="margin-top: 2%;" class="form-control" name="altura" formControlName="nroDomicilio"/>
                                                            <div *ngIf="residenciaFormulario.controls['domicilioForm'].controls['nroDomicilio'].errors?.required" class="form-control-feedback">
                                                                <small style="color:red;">Campo obligatorio.</small>
                                                            </div>
                                                </div>
                                            </div>

                                            <div formGroupName="domicilioForm">
                                                <div class="form-group col-md-10 text-center">
                                                        <span class="help-block text-muted small-font"> Piso del edificio</span>
                                                        <input type="number" style="margin-top: 2%;" class="form-control" name="pisoEdif" formControlName="piso"/>
                                                        <div *ngIf="residenciaFormulario.controls['domicilioForm'].controls['piso'].errors?.pattern?.requiredPattern || 
                                                                residenciaFormulario.controls['domicilioForm'].controls['piso'].errors?.min" class="form-control-feedback">
                                                            <small style="color:red;">Ingrese números válidos.</small>
                                                        </div>
                                                </div>
                                            </div>

                                            <div formGroupName="domicilioForm">
                                                <div class="form-group col-md-10 text-center">
                                                        <span class="help-block text-muted small-font" for="fijo">Número de deparmento</span>
                                                        <input type="number" style="margin-top: 2%;" class="form-control" name="nroDomDepto" formControlName="departamento"/>
                                                        <div *ngIf="residenciaFormulario.controls['domicilioForm'].controls['departamento'].errors?.pattern?.requiredPattern || 
                                                                residenciaFormulario.controls['domicilioForm'].controls['departamento'].errors?.min" class="form-control-feedback">
                                                            <small style="color:red;">Ingrese números válidos.</small>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container m-4">
                                    <div style="margin-left:5%; margin-top:3%; margin-bottom: 6%">
                                        <div class="row">

                                            <div formGroupName="paisForm" class="form-group dropdownSize text-center" style="margin-left: 4%">
                                                <label for="inputState">País</label>
                                                <select id="paisEleg" class="form-control" name="countryEleg" formControlName="idPais" (change)="traerProvLista($event.target.value)">
                                                    <option selected [value]="null" disabled> Elegir país</option>    
                                                    <option *ngFor="let pais of listaPaises"
                                                            [value]="pais.idPais"> {{ pais.nombrePais }} </option>
                                                </select>
                                            </div>


                                            <div formGroupName="provinciaForm" class="form-group dropdownSize text-center" style="margin-left: 9%">
                                                <label for="inputState">Provincia</label>
                                                <select class="form-control" name="stateEleg" formControlName="idProvincia" (change)="traerLocLista($event.target.value)">
                                                    <option selected [value]="null" disabled> Elegir provincia</option>    
                                                    <option *ngFor="let provincia of listaProvincias"
                                                            [value]="provincia.idProvincia" id="algo"> {{ provincia.nombreProvincia }} </option>
                                                </select>
                                            </div>

                                            <div formGroupName="domicilioForm" style="margin-left: 8%">
                                                <div formGroupName="localidad" class="form-group dropdownSize text-center">
                                                    <label for="inputState">Localidad</label>
                                                    <select class="form-control" name="cityEleg" formControlName="idLocalidad">
                                                        <option selected [value]="null" disabled> Elegir localidad</option>
                                                        <option *ngFor="let localidad of listaLocalidades"
                                                                [value]="localidad.idLocalidad"> {{ localidad.nombreLocalidad }} </option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                        </form>

                </div>
              </div>
            </div>
          </div>
        </div>

    <!------------------------------------------------------------------------------------------------------------------------>

        </div>
    </div>

<!--------------------------------------------------------------------------------------------------------------------------->

        <!-- *ngIf="formulariointegrante.valid=== true && (domicilioActualizado!= null || residenciaFormulario.valid=== true) && ((formulariointegrante.controls['tipoPaciente_id'].value == 1 && responsableFormulario.valid == true) || (formulariointegrante.controls['tipoPaciente_id'].value != 1))" -->

        <div class="text-center"> 
            <button [disabled]="formulariointegrante.invalid 
                                || (formulariointegrante.controls['tipoPaciente_id'].value === 1 && responsableFormulario.invalid)
                                || !(domicilioActualizado !== null || residenciaFormulario.valid)" 
                    type="button" id="botonGuardar" style="height:50px; width: 100px; margin-top: 50px;" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">
                Guardar
            </button>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                  <div class="modal-body">
                  ¿Desea guardar los cambios realizados?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="submit" id="btnSave" class="btn btn-success" (click)="confirmarIntegrante()" data-dismiss="modal">Confirmar</button>
                  </div>
            </div>
          </div>
        </div>
    <!------------------------------------------------------------------------------------------------------------>
</div>
