<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>

<div *ngIf="!loading" style="margin-top:1.0vh">

  <div class="d-flex justify-content-center mt-3 animated fadeIn" id="alert_mensaje" style="margin-left: 15px;"></div>

  <h3 style="margin-left: 2%;">Asistencia</h3>
  <hr style="border-color: black;">

  <div class="container animated fadeIn fast">
    <div class="row justify-content-between align-content-end m-2">
      <h6 class="align-content-center mb-0 mt-2">
        <a class="d-inline" style="margin-right: 0.6vh;" data-toggle="tooltip" data-placement="right"
          title="Asistencia del día correspondiente únicamente a la concurrencia al centro de salud.">
          <img src="/src/assets/iconos/question.png" alt="información" style="width: 20px; height: 20px;">
        </a>
        <div class="d-inline">Pacientes que asisten el día {{ diaPalabras(diaSemana) }}, {{ fecha | date: 'd/M/y' }}:
        </div>
      </h6>

      <div *ngFor="let area of areas" class="d-inline">
        <div *ngIf="area?.nombreArea == 'Administración' || area?.nombreArea == 'Recepción'; else mostrarBoton">
        </div>
        <ng-template #mostrarBoton>
          <button type="submit" style="margin-top: 1%; margin-bottom: 2%; margin-left: 1%"
            class="btn btn-sm btn-outline-success animated fadeIn" (click)="navegarAsistenciaArea(area.idArea)">
            Ver asistencia de {{ area.nombreArea }}
          </button>
        </ng-template>
      </div>
    </div>
    <div *ngIf="!errorPacientes;else errorEnPacientes">

      <table class="table text-center animated fadeIn">
        <thead class="thead-light">
          <tr>
            <th scope="col">Asistió</th>
            <th scope="col">Nombre y apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">DNI</th>
            <th scope="col">Responsable</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of pacientes">
            <td>
              <div class="container">
                <input type="checkbox" class="custom-checkbox" value="true" [checked]=paciente.asistencia.asistio
                  (click)="modificarAsistencia(paciente, $event.target.checked)">
              </div>
            </td>
            <!-- <div *ngIf="rol!=='recepcionista'; else recepcionista"> -->
            <td>
              <button *ngIf="rol!=='recepcionista'; else recepcionista" class="btn btn-link"
                (click)="irPaciente(paciente.idPaciente)">{{ paciente?.nombrePaciente }}
                {{ paciente?.apellidoPaciente }}
              </button>

              <ng-template #recepcionista>

                <button class="btn btn-link">{{ paciente?.nombrePaciente }} {{ paciente?.apellidoPaciente }}</button>

              </ng-template>
            </td>
            <!-- </div> -->
            <td>{{ calcularEdad(paciente?.fechaNacimiento) }}</td>
            <td>{{ paciente?.dniPaciente }}</td>
            <td>{{ paciente?.responsable?.nombrePaciente }} {{ paciente?.responsable?.apellidoPaciente }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #errorEnPacientes>
      <p class="text-center" style="color: red;">*No se encontraron asistencias este día.</p>
    </ng-template>

  </div>

  <button type="submit" class="btn btn-outline-primary animated fadeIn"
    style="margin-top: 1%; margin-bottom: 2%; margin-left: 1%"
    (click)="mostrarAsist=!mostrarAsist">{{mostrarAsist ? 'Ocultar' : 'Consultar asistencia general'}}</button>
  <br>
  <div class="container fadeIn fast" style="margin-top: 2%" *ngIf="mostrarAsist">
    <form #fechaForm="ngForm">
      <div class="form-group row ml-4" style="margin-top: 2%">
        <label class="col-auto col-form-label">
          <a style="margin-right: 0.6vh" data-toggle="tooltip" data-placement="right"
            title="Permite buscar únicamente la asistencia al centro de salud, para un día ya transcurrido.">
            <img src="/src/assets/iconos/question.png" alt="información"
              style="width: 20px; height: 20px; margin-bottom: 0.5vh">
          </a>
          Asistencia del día:
        </label>
        <div class="controls col-3">
          <input class="form-control" id="fechaInput" [max]="fechaFiltro" required type="date" placeholder="Fecha"
            style="margin-left: 1%" name="fecha" ngModel>
          <span class="input-group-btn">
          </span>
        </div>
        <button class="btn btn-primary btn-sm" [disabled]="fechaForm.invalid" (click)="asignarFecha(fechaForm)"
          id="buscarBoton" type="button">
          Buscar
        </button>
      </div>
    </form>
  </div>


  <div id="accordion">
    <div class="collapse multi-collapse animated fadeIn" id="verAsistencia" data-parent="#accordion">
      <div class="card">
        <app-asistencia-fecha #child></app-asistencia-fecha>
        <button type="button" class="btn btn-secondary btn-sm col-1"
          style="margin-left: 46%; margin-top: 1%; margin-bottom: 1%" id="ocultarBoton" (click)="ocultarCollapse()">
          Ocultar
        </button>
      </div>
    </div>
  </div>

</div>