<div class="text-center">
	<h4 class="d-inline">Últimas asistencias</h4>
	<a data-toggle="tooltip" class="ml-2 d-inline" data-placement="right"
		title="Lista el registro de las últimas 10 asistencias del paciente. Las inasistencias poseen la causa y un ícono que permite realizar la modificación de esta.">
		<img src="/src/assets/iconos/question.png" alt="información" class="mb-1" style="width: 17px; height: 17px;">
	</a>
</div>
<hr class="border-dark">
<div>
	<div *ngIf="historicoAsistencias.length==0">
		<div class="row text-center d-block"><img src="../../../../../assets/iconos/sad_black.svg"></div>
		<div class="row text-center d-block">
			<h3>No hay registro de asistencia</h3>
		</div>
	</div>
	<div class="container pr-0 pl-0" *ngFor="let asist of historicoAsistencias">
		<div *ngIf="asist.asistio; else noAsistio" class="card m-1 p-0 notice notice-success">
			<div class="card-body p-2">
				<div class="text-left d-inline pl-0 pr-0">
					<strong>{{ asist.fechaAsistencia | slice:0:10 | date: 'EEEE, d \'de\' MMMM' | titlecase }}</strong>.</div>
				<img class="float-right" width="18vw" height="18vw" src="../../../../../assets/iconos/checked.png">
			</div>
		</div>
		<ng-template #noAsistio>
			<div [ngSwitch]="asist.causaInasistencia">

				<div *ngSwitchCase="1" class="card m-1 p-0 notice notice-danger">
					<div class="card-body p-2">
						<div class="text-left d-inline pl-0 pr-0">
							<strong>{{ asist.fechaAsistencia | slice:0:10 | date: 'EEEE, d \'de\' MMMM' | titlecase }}</strong> |
						</div>
						<div class="text-center d-inline pl-0"> Causa: {{ getCausaInasistencia(asist.causaInasistencia) }} <img
								src="/src/assets/iconos/edit.svg" data-toggle="modal" data-target="#causaInasistenciaModal"
								(click)="setAsistSeleccionada(asist)" class="clickable responsive-res ml-2"></div>
						<img class="float-right" width="18vw" height="18vw" src="../../../../../assets/iconos/cancel.png">
					</div>
				</div>

				<div *ngSwitchDefault class="card m-1 p-0 notice notice-warning">
					<div class="card-body p-2">
						<div class="text-left d-inline pl-0 pr-0">
							<strong>{{ asist.fechaAsistencia | slice:0:10 | date: 'EEEE, d \'de\' MMMM' | titlecase }}</strong> |
						</div>
						<div class="text-center d-inline pl-0"> Causa: {{ getCausaInasistencia(asist.causaInasistencia) }} <img
								src="/src/assets/iconos/edit.svg" data-toggle="modal" data-target="#causaInasistenciaModal"
								(click)="setAsistSeleccionada(asist)" class="clickable responsive-res ml-2"></div>
						<img class="float-right" width="18vw" height="18vw" src="../../../../../assets/iconos/warning.png">
					</div>
				</div>

			</div>
		</ng-template>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="causaInasistenciaModal" tabindex="-1" role="dialog"
	aria-labelledby="causaInasistenciaModalTitle" data-backdrop="false">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content jumbo-bg shadow-sm border-dark">
			<div class="modal-header">
				<h5 class="modal-title font-weight-light" id="causaInasistenciaModalTitle"><u>Editar causa de inasistencia</u>
				</h5>
			</div>
			<div class="modal-body text-center">
				<p-dropdown [options]="causasInasistencia" optionLabel="nombreCausaInasistencia"
					[(ngModel)]="causaSeleccionada"></p-dropdown>
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button type="button" class="btn btn-info" (click)="editarCausaInasistencia()" data-dismiss="modal">Guardar y
					salir</button> <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
			</div>
		</div>
	</div>
</div>