.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

.notice-warning {
    border-color:#e0cd1f;
}
.notice-warning>strong {
    color: #e0cd1f;
}

.text-left, .text-center {
    font-size: 96%;
}

.clickable {
    cursor: pointer;
}

.responsive-res {
    height: auto;
    width: 2.5%;
}