<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    <div *ngIf="!loading">

      <div *ngIf="!error; else errortemplate">
        <!-- Botones flotantes -->
        <div style="position: fixed;right: 1vw;bottom: 1.5vh;" class="row">
        <a (click)="display = true">
            <div style="border-radius:50%;width: 40px;height: 40px" class="shadow d-flex align-items-center justify-content-center m-2 dodgerblue-bg clickable">
                <img src="../../../../assets/iconos/menu.svg" style="width: 50%; height: auto;" title="Abrir barra lateral.">
            </div>    
        </a>

        <a (click)="botonUp()">
                <div style="border-radius:50%;width: 40px;height: 40px;" class="shadow d-flex align-items-center justify-content-center m-2 dodgerblue-bg clickable">
                    <img src="../../../../assets/iconos/flechaderecha.png" style="width: 50%; height: auto;transform: rotate(-90deg);" title="Ir arriba.">
                </div>    
            </a>

        </div>
        <!-- Botones flotantes -->
        <div *ngIf="!( formulario.metadataForm.estadoForm == 1 && tipoPermiso == 1); else vaciotemplate">
          <h2 class="ml-4">{{formulario.titulo}}</h2>
          <h6 class="text-right"> Fecha creado: {{fechaLinda(formulario.fechaCreado) }}  -  Fecha modificado: {{fechaLinda(formulario.fechaMod)}}</h6>
          <hr width="97%" style="border-color:black">
          <app-form-dinamico [paciente_id]="formulario.paciente_id" [tabla]="tabla" [metadataForm]="formulario.metadataForm" [questions]="formulario.questions" [permiso]="tipoPermiso" [estadoPaciente_id]="formulario.estadoPaciente_id" [tipoPaciente_id]="formulario.tipoPaciente_id" ></app-form-dinamico>
      </div>
    </div>

      <ng-template #errortemplate>
        <br><br>
          <div class="d-flex justify-content-center">
            <div class="alert alert-danger" style="width:auto">
                <span style="width:auto">No existe este formulario o no tiene los permisos para verlo.</span>
            </div>
          </div>
      </ng-template>

      <ng-template #vaciotemplate>
        <br><br>
          <div class="d-flex justify-content-center">
            <div class="alert alert-warning" style="width:auto">
                <span style="width:auto">El formulario está vacío.</span>
            </div>
          </div>
      </ng-template>
    </div>
 
 <p-sidebar [(visible)]="display" [baseZIndex]="10000" [showCloseIcon]="false" position="right" styleClass="bg-light scrollable">
   
        <div class="d-flex justify-content-center mt-3"><button (click)="display = false" class="w-100 btn btn-secondary">Cerrar</button></div>
        <!-- formularios -->
        <div class="card mt-2 mb-1 shadow">
          <div class="card-header justify-content-center align-items-center">
            <h3 class="m-0 text-center">Formularios</h3>
          </div>
          <div class="card-body p-3">  
            <ul class="list-unstyled components">
            <li class="active">
                <li *ngFor="let area of areaForm" class="mb-1">
                    <a [href]=" '#area'+area.areaId " name="areaClickeada" data-toggle="collapse" aria-expanded="false" style="font-size: 120%; text-decoration: none">
                      <div class="w-100 hover-gris border border-top-0 border-right-0 border-left-0 border-secondary">
                        <div class="slideright">{{area.areaNom}}</div>
                      </div>
                    </a>
                        <ul class="collapse list-unstyled" [id]="'area'+area.areaId">
                            <li *ngFor="let formu of area.forms">
                              <a [routerLink]="['./']" [queryParams]="{idForm: formu.formId , idPac:idParams.idPac}" (click)="display=false">
                                {{formu.formCod}} : {{formu.formNom}}
                              </a>
                            </li>
                        </ul>
                </li>
            </ul>
          </div> 
        </div>
        <!-- indice -->
        <div class="card mt-2 mb-1 shadow">
          <div class="card-header justify-content-center align-items-center">
            <h3 class="m-0 text-center">Índice</h3>
          </div>
          <div class="card-body p-3">
              <ul class="list-unstyled components">
                  <li class="active">
                      <div *ngFor="let question of formulario.questions">
                          <li *ngIf="question.controlType=='title'" class="border border-top-0 border-right-0 border-left-0 border-secondary mb-1">
                            <a (click)="irTitulo(question.key)" style="font-size: 120%">
                              <div class="w-100 hover-gris clickable">  
                                <div class="slideright">{{question.label}}</div>
                              </div>
                            </a>
                          </li>
                      </div>
                  </li>
              </ul>
          </div>
        </div>
  </p-sidebar>