ul li:hover{
    cursor: hand;
}

.wrapper {
    display: block;
}

#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}
#sidebar.active {
    margin-left: -250px;
    background-color: black;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

.jumbo-bg: {
    background: #e9ecef;
}

.clickable {
    cursor: pointer;
}

.hover-gris:hover {
    background: #e9ecef;
    color: #343a40;
}

.dodgerblue-bg {
    background: dodgerblue;
}

.dodgerblue-bg:hover {
    background: #1b81e5;
}

.dodgerblue-bg:active {
    background: #1873cc;
}

.slideright {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.slideright:hover {
    -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
}