<!-- <app-loading *ngIf="loading"></app-loading> -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>


<div *ngIf="!loading">

    <div class="row animated fadeIn fast">
        <div class="col-md-6">
            <h2 class="text-left font-weight-light">{{ saludo }}</h2>
        </div>
        <div class="col-md-6">
            <h4 class="text-right font-weight-light">{{ hoyEs }}</h4>
        </div>
    </div>

    <hr size="100" noshade="noshade" style="color:rgb(3, 3, 3)">

    <p class="font-weight-light">Asistencia semanal:</p>

    <app-calendario></app-calendario>


    <hr size="100" noshade="noshade" style="color:rgb(3, 3, 3)">
<!-- 
    <div class="container animated fadeIn" style= "margin-top: 2vh;min-width: 90vw;">
    <div class="text-center">
    <div class="d-flex flex-wrap justify-content-center" style="margin:auto;width:100%;height: 100%;margin-top: 5vh">
        <div *ngFor="let mod of this._sesionSrv.getModulos()">
            <div [ngSwitch]="mod">
                <div *ngSwitchCase="'Paciente'">
                    <div class="card" style="margin:auto;margin-bottom: 2vh; padding: 1.5vh; border-radius: 3%" >
                        <div class= "animated fadein" >
                            <a [routerLink]="['/home','paciente']" routerLinkActive="active" style="text-decoration: none">
                            <img src="/src/assets/iconos/stethoscope.png" alt="paciente" style="width:15vw;min-width:200px">
                            <hr>
                            <p class="display-4 text-secondary" style="font-size:2rem">Paciente</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div *ngSwitchCase="'Familia'">
                    <div class="card" style="margin:auto; margin-left: 0.6vh; margin-bottom: 2vh; padding: 1.5vh; border-radius: 3%">
                        <div class= "animated fadein">
                            <a [routerLink]="['/home','familia']" routerLinkActive="active"style="text-decoration: none">
                            <img src="/src/assets/iconos/group.png" alt="familia" style="width:15vw;min-width:200px">
                            <hr>
                            <p class="display-4 text-secondary" style="font-size:2rem">Familia</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div *ngSwitchCase="'Recordatorios'">
                    <div class="card" style="margin:auto;margin-left: 0.6vh; margin-bottom: 2vh;padding: 1.5vh;border-radius: 3%">
                        <div class= "animated fadein" style="border-color:red">
                        <a [routerLink]="['/home','recordatorio']" routerLinkActive="active"style="text-decoration: none">
                        <img src="/src/assets/iconos/exclamation.png" alt="recordatorio" style="width:15vw;min-width:200px">
                        <hr>
                        <p class="display-4 text-secondary" style="font-size:2rem">Recordatorios</p>
                        </a>
                        </div>
                    </div>
                </div>

                <div *ngSwitchCase="'Asistencia'">
                    <div class="card" style="margin:auto; margin-left: 0.6vh; margin-bottom: 2vh;padding: 1.5vh;border-radius: 3%">
                        <div class= "animated fadein">
                        <a [routerLink]="['/home','asistencia']" routerLinkActive="active"style="text-decoration: none">
                        <img src="/src/assets/iconos/check-list-and-pencil.png" alt="asistencia" style="width:15vw;min-width:200px">
                        <hr>
                        <p class="display-4 text-secondary" style="font-size:2rem">Asistencia</p>
                        </a>
                        </div>
                    </div>
                </div>

                <div *ngSwitchCase="'Estadistica'">
                    <div class="card" style="margin:auto;margin-left: 0.6vh; margin-bottom: 2vh;padding: 1.5vh;border-radius: 3%">
                        <div class= "animated fadein">
                        <a [routerLink]="['/home','estadisticas']" routerLinkActive="active" style="text-decoration: none">
                        <img src="/src/assets/iconos/statistics.png" alt="etadistica" style="width:15vw;min-width:200px">
                        <hr>
                            <p class="display-4 text-secondary" style="font-size:2rem">Estadística</p>
                        </a>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
    </div>
    </div>

    </div> -->
