<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
<div class="card-group border-primary mr-4 ml-4 fadeIn">
  <div class="card border-primary" 
       *ngFor="let dia of pacientesSemana">
    <div *ngIf="dia.nombreDia == hoyMayuscula ; else diaDistinto ">
      <div class="card-header bg-azuloscuro text-white text-center">
        <h4> {{ hoyMayuscula}} </h4>
        <div>
          <p  class="circulo bg-dodgerblue"> {{ dia.fecha }} </p>
        </div>
      </div>
    </div>  
    <ng-template #diaDistinto>
      <div class="card-header bg-dodgerblue text-white text-center">
        <h4> {{ dia.nombreDia }} </h4>
        <div>
          <p class="circulo bg-azuloscuro"> {{ dia.fecha }} </p>
        </div>
      </div>
    </ng-template>

    
    <!-- cuerpo -->

    <div *ngIf="dia.nombreDia == hoyMayuscula ; else pacientesDistintos" 
         class="card-body bg-gris p-0">
      <ul class="list-group mt-1 mb-1">
        <div *ngIf="rol!=='recepcionista'; else pacienterecepcionista">
          <li class="list-group-item p-1 rounded bg-gris hover-blanco border border-0 text-center" 
              *ngFor="let pacienteDia of dia.pacientes" 
              (click)="irPaciente(pacienteDia.idPaciente)">
            {{ pacienteDia.nombrePaciente }} {{ pacienteDia.apellidoPaciente }}
          </li>
        </div>
        <ng-template #pacienterecepcionista>
          <li class="list-group-item p-1 rounded bg-gris hover-blanco border border-0 text-center" 
            *ngFor="let pacienteDia of dia.pacientes">
            {{ pacienteDia.nombrePaciente }} {{ pacienteDia.apellidoPaciente }}
          </li>
        </ng-template>
      </ul>
    </div>
    <ng-template #pacientesDistintos>
      <div class="card-body gris-clarito p-0">
        <ul class="list-group mt-1 mb-1">
          <div *ngIf="rol!=='recepcionista'; else pacienterecepcionista">
            <li class="list-group-item p-1 rounded gris-clarito hover-blanco border border-0 text-center" 
                *ngFor="let pacienteDia of dia.pacientes" 
                (click)="irPaciente(pacienteDia.idPaciente)">
              {{ pacienteDia.nombrePaciente }} {{ pacienteDia.apellidoPaciente }}
            </li>
          </div>
          <ng-template #pacienterecepcionista>
            <li class="list-group-item p-1 rounded gris-clarito hover-blanco border border-0 text-center" 
              *ngFor="let pacienteDia of dia.pacientes">
              {{ pacienteDia.nombrePaciente }} {{ pacienteDia.apellidoPaciente }}
            </li>
          </ng-template>
        </ul>
      </div>
    </ng-template>
  </div>
</div>