.gris-clarito{
    background-color: #eee
}

div li:hover {
    background-color:  #CBD1F8;
    cursor: pointer;
}

.bg-dodgerblue{
    background-color: dodgerblue
}

.bg-azuloscuro{
    background-color: rgb(53, 77, 255);
}

.gris-oscuro{
    background-color: #B1ADD6
}

.bg-gris{
    background-color: rgb(230, 230, 230)
}

.circulo {
    width: 50%;
    height: auto;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
  }