<h3 style="margin-left: 2%;">Familia</h3>
    <hr style="border-color: black;">  

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">

        <div class="btn-group btn-group-lg animated fadeIn fast" role="group" style="margin-top: 8px;" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" routerLinkActive="active"
                    [routerLink]="['../familia','familia-busqueda']"> Buscar familia </button>
            
            <button type="button" class="btn btn-secondary" routerLinkActive="active" 
                    [routerLink]="['../familia','familia-nueva']"> Nueva familia </button>
        </div>

    </div>
  </div>
</div>

<hr style="margin-top: 20px; margin-bottom: 10px; border-color: rgb(6, 167, 167);">

<div class="m-4 animated fadeIn">
  <router-outlet></router-outlet>
</div>
