<br>
<div [formGroup]="form" class="row">
  
  <div *ngIf="question.controlType!=='list' && question.controlType!=='title' && question.table!==true" class="col-3" style="text-align:right">
    <label [attr.for]="question.key" class="label-campo">{{question.label}}</label>
  </div>

  <div *ngIf="question.table !==true" class="col-9 d-flex">
    <div [ngSwitch]="question.controlType" class="col-5 d-flex align-self-center" style="padding-right:0px">
    
      <div *ngSwitchCase="'title'">
        <ul class="list-group" style="width:79vw;padding: 0vw 3vw 0vw 3vw" [id]="'titulo'+question.key">
          <li class="list-group-item" style="background-color: #CECECE">
              <h5 style="margin:0px"> {{question.label}}</h5>
          </li>
        </ul>
        
      </div>
      
      <div *ngSwitchCase="'textbox'">
        <input *ngIf="question.type!='textxl' && question.type!='naturalnumber' && question.type!='numberwunit' && question.type!='naturalwunit'" [formControlName]="question.key"
              [id]="question.key" [type]="question.type" class="form-control" style="width:20vw">
        
        <textarea *ngIf="question.type=='textxl'" [formControlName]="question.key"
              class="form-control" style="width:20vw;min-height: 8vh;height: 13vh;"></textarea>
              
        <div *ngIf="question.type=='numberwunit'" class="d-inline">
          <input type="number" class="form-control d-inline" style="width:10vw" [formControlName]="question.key">
          <p style="width:3vw" class="d-inline">{{question.placeholder.split('>',1)[0]}}</p>
        </div>

        <input *ngIf="question.type=='naturalnumber'" type="number" min="0" class="form-control" style="width:20vw" [formControlName]="question.key">
        
        <div *ngIf="question.type=='naturalwunit'" class="row" style="margin:0px">
          <input type="number" class="form-control d-inline col-5" min="0" [formControlName]="question.key">
          <p class="d-inline col-7 mb-1 align-self-end">{{question.placeholder.split('>',1)[0]}}</p>
        </div>
  
      </div>
      

      
   
      <div *ngSwitchCase="'dropdown'">
          <p-dropdown [options]="question.options" formControlName="{{question.key}}" [filter]=false placeholder="" [autoDisplayFirst]=false optionLabel="value" [style]="{'width':'20vw','border':'1px solid #ced4da'}"></p-dropdown>
      </div>
  
      <div *ngSwitchCase="'checkbox'">
        <p-multiSelect [options]="question.options" formControlName="{{question.key}}" [filter]=false defaultLabel="Elija una o más opciones" selectedItemsLabel="{} opciones elegidas" maxSelectedLabels=4 optionLabel="value" [style]="{'width':'20vw','border':'1px solid #ced4da'}"></p-multiSelect>
      </div>
 
      <div *ngSwitchCase="'list'" [formGroupName]="question.key">

        <table>
          <thead>
            <tr>
              <th class="text-center">
                <p>
                  Fecha
                </p>
              </th>
              <th class="text-center" style="margin-bottom:2vh;">
                <p class="d-inline-block">
                  {{question.label}}
                </p>
                <a *ngIf="question.placeholder" class="d-inline-block ml-2" data-toggle="tooltip" data-placement="right" [title]="question.placeholder">
                  <img src="../../../../../../assets/iconos/question.png" style="width: 18px;height: 18px;margin-bottom: 3px" alt="">
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let valor of question.value"> 
              <td>
                <p class="celda text-center" style="width:10vw">
                  {{valor.fecha.substr(0,10)}}
                </p>
              </td>
              <td>
              <div style="width:66vw;margin:0px" class="row justify-content-center"> 
                <textarea [formControlName]="question.key+'_'+valor.fecha" style="word-break: break-word;width:56vw;height: 75px;background-color: #d5dadf" class="celda form-control"></textarea>
              </div>
              </td>
            </tr>
            <tr *ngIf="permiso==2">
              <td>
                <p class="celda text-center" style="width:10vw">
                  Hoy
                </p>
              </td>
              <td>
                <div style="width:66vw;margin: 0px" class="row justify-content-center">
                    <textarea [formControlName]="question.key+'_'+hoy" style="word-break: break-word;width:56vw;height: 75px " class="celda form-control d-flex justify-self-center"></textarea>
                    <a *ngIf="false" class="col-auto d-flex align-self-center" data-toggle="tooltip" data-placement="right" title="Este campo es obligatorio.">
                      <img src="../../../../../../assets/iconos/exclamation-mark.png" style="width: 18px;height: 18px;margin-bottom: 3px" alt="">
                    </a>
                </div>
                
              </td>
            </tr>
          </tbody>
        </table>
              
        </div>
         
    </div>
   
    <div *ngIf="question.controlType!=='list' && question.controlType!=='title' && question.type!='numberwunit' && question.type!='naturalwunit'" class="col-5 d-flex" style="width: 100%;padding-left: 0px">
      
      <div class="col-2 align-self-center" style="padding-left: 0vw">
        <a *ngIf="question.placeholder" style="margin-right: 0.6vh" data-toggle="tooltip" data-placement="right" [title]="question.placeholder">
          <img src="../../../../../../assets/iconos/question.png" style="width: 18px;height: 18px;margin-bottom: 3px" alt="">
        </a>
      </div>
      
      <div class="col-10 align-self-center text-right">
        <a *ngIf="!isValid && permiso == 2" data-toggle="tooltip" data-placement="right" title="Este campo es obligatorio.">
          <img src="../../../../../../assets/iconos/exclamation-mark.png" style="width: 18px;height: 18px;margin-bottom: 3px" alt="">
        </a>
      </div>
      
    </div>

    <div *ngIf="question.controlType!=='list' && question.controlType!=='title' && (question.type=='naturalnumber' || question.type=='naturalwunit')" class="col-5 d-flex" style="width: 100%;padding-left: 0px">
      
      <div class="col-2 align-self-center" style="padding-left: 0vw">
        <a *ngIf="question.placeholder.split('>',2)[1]" style="margin-right: 0.6vh" data-toggle="tooltip" data-placement="right" [title]="question.placeholder.split('>',2)[1]">
          <img src="../../../../../../assets/iconos/question.png" style="width: 18px;height: 18px;margin-bottom: 3px" alt="">
        </a>
      </div>
      
      <div class="col-10 align-self-center text-right">
        <a *ngIf="form.controls[question.key].errors?.required && !form.controls[question.key].errors?.min" data-toggle="tooltip" data-placement="right" title="Este campo requiere un número positivo o cero. Este campo es obligatorio.">
          <img src="../../../../../../assets/iconos/exclamation-mark.png" style="width: 18px;height: 18px;margin-bottom: 3px" alt="">
        </a>
        <a *ngIf="!form.controls[question.key].errors?.required && form.controls[question.key].errors?.min" data-toggle="tooltip" data-placement="right" title="Este campo requiere un número positivo o cero.">
            <img src="../../../../../../assets/iconos/exclamation-mark.png" style="width: 18px;height: 18px;margin-bottom: 3px" alt="">
        </a>
      </div>
      
    </div>

  </div>

</div>