.placeholder-campo{
    margin-left: 4%;
    font-size: 95%;
    color: gray;
    font-style: italic;
}
.label-campo{
    font-size:112%;
    margin-top:1%;
}
.celda{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
}