<h1>dia</h1>
<div class="card-columns">
  <div *ngFor="let dia of diap" (click)="verDia(dia.idDia)" class="card puntero">
    <img class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{dia.nombreDia}}</h5>
      <p class="card-text">{{dia.idDia}}</p>
    </div>
  </div>
  </div>
  <h4>Agregar un nuevo Dia</h4>
  <hr>
  <form>

    <div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">

          <input class="form-control"
                 type="text"
                 placeholder="Nombre del dia">
        </div>
      </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary">
          Guardar
        </button>
      </div>
    </div>
  </div>
  </form>