<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: 'true' }"></ngx-loading>

<div *ngIf="!loading">
    <h3 style="margin-left: 2%;">Recordatorios</h3>
    <hr style="border-color: black;">
    <form (ngSubmit)="guardarRecordatorio(form)" name="recordatorio" #form="ngForm" novalidate="">

      <div class="ml-5 mt-4">
        <div class="row form-group row animated fadeIn fast" style="margin-left: 20px; border-color: black">
          <label class="col-2 col-form-label">Fecha</label>
            <div class="col-5">

            <input class="form-control"
                  type="date"
                  id="fechadate"
                  placeholder="Fecha"
                  name="fecha"
                  [min]="fechaFiltro"
                  ngModel
                  required>
            </div>

            <a data-toggle="tooltip" data-placement="right" title="La fecha debe ser posterior al día actual.">
              <img src="/src/assets/iconos/question.png" alt="información" style="margin-top: 1.5vh; margin-right: 2vh; width: 17px; height: 17px; margin-bottom: 0.4vh">
            </a>

        </div>

        <div class="form-group row animated fadeIn fast" style="margin-left: 20px;">
          <label class="col-2 col-form-label">Paciente</label>
          <div class="col-5">
            
            <p-dropdown [options]="pacientes" name="pacienteselec" [(ngModel)]="pacienteselec" appendTo="body" optionLabel="nombreCompleto" filter="true" placeholder="Seleccione un paciente" emptyFilterMessage="No se encontraron pacientes" [style]="{'width':'100%','border':'1px solid #ced4da'}" required></p-dropdown>
            
              <!-- <select class="form-control"
                    name="paciente"
                    ngModel
                    required>
              <option value="" disabled>Seleccione un paciente</option>
              <option *ngFor="let paciente of pacientes"
                      [ngValue]="paciente">
                      {{paciente.nombrePaciente}} {{paciente.apellidoPaciente}}
              </option>
            </select> -->
          </div>
        </div>

        <div class="form-group row animated fadeIn fast" style="margin-left: 20px; z-index: 900;">
            <label class="col-2 col-form-label">Descripción</label>
            <div class="col-md-5">
              <textarea class="form-control"
                type="textarea"
                placeholder="Ingrese contenido."
                name="descripcion"
                ngModel
                required></textarea>
            </div>
        </div>
      </div>

        <div class="form-group row" style="margin-left: 67px;">
          <label class="col-2 col-form-label">&nbsp;</label>
          <div class="input-group col-md-8">
            <button type="submit" [disabled]="form.invalid" class="btn btn-outline-primary">
              Guardar
            </button>
          </div>
        </div>

    <hr style="margin-top: 20px; margin-bottom: 20px;">

    <h6><a style="margin-right: 0.6vh" data-toggle="tooltip" data-placement="right" title="Recordatorios para el profesional, asignados a pacientes. Una vez vencidos, la fecha se marcará en rojo. Archivar permite eliminar el recordatorio de la lista.">
        <img src="/src/assets/iconos/question.png" alt="información" style="width: 20px; height: 20px">
        </a> 
        <u>Recordatorios para {{_sesionSrv.getProfesional().nombreProfesional}} {{_sesionSrv.getProfesional().apellidoProfesional}}</u>:
    </h6>

    </form>

    <div id="accordion">
      <div class="card">
        <!-- <div class="card-header" id="headingOne">
            <h5 class="mb-0">
            <button id="botonCollapse" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
              Mostrar recordatorios
            </button>
          </h5>
        </div> -->

      <div class="card">
        <!-- <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion"> -->
          <div class="card-body">
            <div [ngSwitch]="recordatorios">
                <div *ngSwitchCase="null"> <p class="text-center"><cite>*No hay recordatorios.</cite></p> </div>

                <div *ngSwitchDefault>
                    <table class="table table-hover container">
                      <thead class="thead-light">
                          <tr class="text-center">
                              <th scope="col">Nombre y apellido</th>
                              <th scope="col">Descripción</th>
                              <th scope="col">Fecha</th>
                              <th scope="col">Opciones</th>
                          </tr>
                      </thead>

                      <tbody *ngFor="let rec of recordatorios" [hidden]="rec.archivado">
                          <tr class="text-center">
                              <td><button class="btn btn-link" (click)="irPaciente(rec.paciente.idPaciente)"> {{rec.paciente.nombrePaciente}} {{rec.paciente.apellidoPaciente}} </button></td>
                              <td style="width:400px;"> {{ rec.descripcion }} </td>
                              <td *ngIf= "(rec.fecha) >= (fechaHoy); else vencido"> {{ rec.fecha | date: 'd/M/yy' }} </td>
                              <ng-template #vencido>
                                  <td style= "color: red;"> {{ rec.fecha | date: 'd/M/yy' }} </td>
                              </ng-template>
                              <td><button type="submit" class="btn btn-outline-info"  (click)="archivar(rec)">Archivar</button></td>
                          </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>

   <div class="d-flex justify-content-center animated fadeIn" id="alert_mensaje"></div>

</div>

        <!-- </div> -->
        <!-- <br><br>
        <div id="accordion">
          <div class="card">

            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button id="botonCollapse" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                  Mostrar recordatorios vencidos
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div [ngSwitch]="recordatoriosVencidos.length">
                  <div *ngSwitchCase="0"> <p class="text-center"><cite>*No hay recordatorios.</cite></p> </div>

                  <div *ngSwitchDefault>
                      <table class="table table-hover">
                        <thead class="thead-light">
                            <tr class="text-center">
                                <th scope="col">Nombre y apellido</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>

                        <tbody *ngFor="let rec of recordatoriosVencidos" [hidden]="rec.archivado">
                          <tr class="text-center">
                              <td><button class="btn btn-link" (click)="irPaciente(rec.paciente.idPaciente)"> {{rec.paciente.nombrePaciente}} {{rec.paciente.apellidoPaciente}} </button></td>
                              <td style="width:400px;"> {{ rec.descripcion }} </td>
                              <td>{{rec.fecha | date: 'd/M/yy'}}</td>
                              <td><button type="submit" class="btn btn-outline-info"  (click)="archivar(rec)">Archivar</button></td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
            </div>

          </div>
        </div> -->
