<div class="text-center">
    <div class="jumbotron m-4">
        <div class="col-12">
            <p class="text-center font-weight-light">Elegir días de asistencia: </p>
        </div>

        <div *ngFor="let diaPaciente of diasPacientes">
            <label class="form-check-label col-4">{{ diaPaciente?.nombreDia }}</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="asistDiaPac" [(ngModel)]="diaPaciente.pacienteViene" 
                        type="checkbox" (change)="asignarAsistencia(diaPaciente.idDia, $event.target.checked)">       
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-3 animated fadeIn" id="alert_mensaje"></div>

