<!-- <div *ngIf="true"> -->
<div class="container" style="background:#e9ecef;border-radius:10px;min-width:80vw">  
  <form (ngSubmit)="onSubmit(salir)" [formGroup]="form">
    
    <div *ngIf="tabla.headers.length > 0">
    

      <table class="table table-striped table-hover" style="padding-top:5vh;display: block;">
        
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let header of tabla.headers" class="text-center">
            <a *ngIf="header.required" class="" data-toggle="tooltip" data-placement="right" title="Este campo es obligatorio.">
              <img src="../../../../../../assets/iconos/exclamation-mark.png" style="width: 18px;height: 18px;margin-bottom: 3px" alt="">
            </a>
            <a *ngIf="header.placeholder" style="margin-right: 0.6vh" data-toggle="tooltip" data-placement="right" [title]="header.placeholder">
                <img src="../../../../../../assets/iconos/question.png" style="width: 18px;height: 18px;margin-bottom: 3px" alt="">
              </a>
            <p style="margin-bottom:0px">{{header.label}}</p>
            
            </th>
          </tr>
        </thead>
  
        <tbody style="border: 1px solid #777777" id="bodytabla">

          <tr *ngFor="let row of tabla.filas">
            <td *ngFor="let val of row" [formGroupName]="val.key">
                <input [formControlName]="val.key+'_'+val.fecha" class="form-control" data-toggle="tooltip" data-placement="right" [title]="val.valor">
            </td>
          </tr>
          
          <!-- <tr>
            <td *ngFor="let header of tabla.headers" [formGroupName]="header.key">
              <input [formControlName]="header.key+'_'+fechaFormControl(hoyfecha)" class="form-control">
            </td>
          </tr> -->

          <tr *ngFor="let row of nuevasFilas">
            <td *ngFor="let fc of row" [formGroupName]="fc.fg">
              <input [formControlName]="fc.fc" class="form-control" data-toggle="tooltip" data-placement="right" [title]="this.form.controls[fc.fg].controls[fc.fc].value">
            </td>
          </tr>

        </tbody>
        <tfoot style="margin-top:2vh;width: 100%">
          <div class="container"></div>
          
        </tfoot>          
  
      </table>
      <div>
        <button *ngIf="permiso==2" type="button" class="btn btn-outline-info" style="width: 3vw;margin-left: 1vw" (click)="agregarFila()">+</button>
        <button *ngIf="nuevasFilas.length > 0" type="button" class="btn btn-outline-danger" style="width: 3vw;float: right;margin-right: 1vw" (click)="eliminarUltimaFila()">-</button>
      </div>
      <br>  
      <hr width="93%">
    </div>

    <div *ngFor="let question of questions" class="form-row">
      <app-campo-form-dinamico *ngIf="question.table == false" [question]="question" [form]="form" [permiso]="permiso" class="anchomax"></app-campo-form-dinamico>
    </div>
    <br>
    <br>
    <div class="form-row text-right">
      <div class="col-2"></div>
      <div class="col-auto">
      <button type="button" (click)="onSubmit(false)" name="continuar" class="btn btn-primary ml-5" [disabled]="permiso==1 || !form.valid">Guardar</button>
      </div>
      <div class="col-auto">
        <button type="button" (click)="onSubmit(true)" name="salir" class="btn btn-primary ml-2" [disabled]="permiso==1 || !form.valid">Guardar y salir</button>
      </div>
      <div class="col-auto">
        <button type="button" [routerLink]="['../paciente-detalle']" [queryParams]="{idPac:paciente_id}" class="btn btn-secondary ml-2">Salir sin guardar</button>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-center animated fadeIn" id="alert_mensaje"></div>
  <br>
  <br>
</div>
<!-- </div> -->
