<div class="container-fluid imagen" style="width:100%;height:100%;background-image: url(./assets/iconos/blood-pressure-gauge-business-computer-263370.jpg);padding:0%">
  <div class="container-fluid text-center" style="padding-top: 2vh;margin-bottom: 2vh;">
      <img src="../../../../assets/iconos/logo.png" alt="" style="height: 22vh;">
  </div>
  <div class= "container" style="margin: auto;width: 30rem;height: 28rem;background-color: #e9ecef;padding: 2%;opacity:0.95;border-radius: 3%">
    
    <div class="p-3">
      <h2>Renueve su contraseña</h2>
      <form #passwordsForm='ngForm' (ngSubmit)="renovarcontrasena()">
        <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
          <div class="form-group ">
            <br>
            <!-- <label for="exampleInputPassword1">Contraseña</label> -->
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Introduzca la contraseña nueva" #passwordA="ngModel" name="passwordA"
             required minlength="8" id="passwordA" [(ngModel)]="password1" pattern='^(?=.*\d)(?=.*[a-z]).*$'>
          </div>
          
          <!-- passwordA is {{password1}} -->
          <div class="form-group mt-1">
            <!-- <label for="exampleInputPassword2">Contraseña</label> -->
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Repita la contraseña nueva" #passwordB="ngModel" name="passwordB"
             required id="passwordB" [(ngModel)]="password2">
          </div>
          <!-- passwordB is {{password2}} -->
        </div>
        <div *ngIf="passwordB.invalid && (passwordA.dirty || passwordA.touched) && !passwordA.errors?.minlength" class="alert alert-danger ">
           Por favor, confirme su contraseña.
        </div>
        <div *ngIf="passwords.errors?.passwordCheck && (passwordB.dirty || passwordB.touched)" class="alert alert-danger">
          Las contraseñas no coinciden.
        </div>
        <div *ngIf="passwordA.errors?.pattern" class="alert alert-danger">
            La contraseña debe tener números y letras.
        </div>
        <div *ngIf="passwordA.errors?.minlength" class="alert alert-danger">
            Su contraseña debe contener por lo menos 8 caracteres.
          </div>
        <div class="form-group" *ngIf="passwords.valid; else disable">
          <button type="submit" class="btn btn-secondary btn-block" >Renovar contraseña</button>
        </div>
        <ng-template #disable>
          <button type="submit" class="btn btn-secondary btn-block" disabled>Renovar contraseña</button>
        </ng-template>
      </form>
      <div *ngIf="alertError == true">
          <div class="d-flex justify-content-center animated fadeIn" id="alert_mensaje"></div>
      </div> 
    </div>
     

  
  </div>
  <ngx-loading [show]="loadingLogin" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

  <div class="modal fade" id="modalConfirmar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p>Tu contraseña se ha renovado exitosamente. Vuelve a iniciar sesión para ingresar al sistema.</p>
      </div>
        <button type="button" class="btn btn-success" id="boton" (click)="confirmar()" data-dismiss="modal">Confirmar</button>
    </div>
  </div>
</div>



</div> 
