<div class="container">
    <form class="form-horizontal">
      <fieldset>
        
          <h4 class="font-weight-light">Nueva familia</h4>
          <hr style="margin-bottom: 17px;">
        
        <div class="form-group row ml-5 fadeIn fast">
            <input type="text" id="apellidoFlia" placeholder="Ingrese apellido" 
                  class="form-control col-5" required #apellidoFlia>
        
          <button class="btn btn-outline-primary" type="button" style="margin-left: 20px;"
                  (click)="crearFlia(apellidoFlia.value)">Crear familia</button>
        
        </div>
        
      </fieldset>
    </form>
</div>
<div class="d-flex justify-content-center animated fadeIn" id="alert_mensaje"></div>