<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div *ngIf="loading== false">
        <h3 style="margin-left: 2%;">Paciente</h3>
        <hr style="border-color: black;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                    

                <div class="col-11 ml-5">

                <h4>Búsqueda de pacientes</h4>
                <hr style="margin-bottom: 2%;">
          
                    <form (ngSubmit)="buscarPacienteTotal(form)" #form="ngForm" novalidate="">

                    <div class="form-group row animated fadeIn justify-content-between align-content-end mr-4" style="margin-left: 4%;">
                        <div class="row animated fadeIn ml-2 col-10">
                            <label class="mt-2">Buscar paciente:</label>
                            <div class="col-5">
                                <input  class="form-control"
                                        type="text"
                                        (keyup)= buscarPaciente(form)
                                        placeholder="Búsqueda por nombre o apellido"
                                        name="paciente"
                                        ngModel
                                        required>
                            </div>
                        </div>
                            <button type="button" class="btn btn-outline-success animated fadeIn col-auto ml-2" (click)="buscarPacienteTotal()">Mostrar todos</button>
                    </div>

                        <div *ngIf="!error; else errortemplate" class="animated fadeIn card-deck d-flex justify-content-center" style="width:100%">
                        <div *ngFor="let paciente of pacientes | paginate: { itemsPerPage: 12, currentPage: pageActual, totalItems: pacientes.length  }">
                            <div class="card" style="width: 18vw; height: 17vh; margin-bottom: 2vh; min-width: 220px; min-height: 165px; border:solid black 1px" >
                                <div class="btn btn-default">
                                    <div class="card-header d-flex justify-content-center">
                                        {{paciente.nombrePaciente}} {{paciente.apellidoPaciente}}
                                    </div>
                                    <div class="card-body" (click)= verPaciente(paciente)>
                                    <p class="card-text text-left">
                                        <small>
                                        N° HC: {{paciente.nroHistoriaClinica}} <br>
                                        DNI: {{paciente.dniPaciente}} <br>
                                        Tipo paciente: {{paciente.tipoPaciente.nombreTipoPaciente}} <br>
                                        </small>
                                    </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>

                        <ng-template #errortemplate>
                            <p class="text-center font-weight-light" style="color: red"> *No se encontraron pacientes.</p>
                        </ng-template>

                    </form>
                </div>
              </div>
          </div>
          <div class="row d-flex justify-content-center mt-5">
            <div *ngIf="mostrarPaginacion">
                <pagination-controls (pageChange)="pageActual= $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
          </div>
    </div>
</div>