<app-navbar [listaModulos]="modulos" [modActual]="sesionServ.nombreModulo"></app-navbar>
 
<div class="container-fluid">
    <div class="ml-5 mr-5" style="margin-bottom: 60px; margin-top: 78px;">
        <router-outlet></router-outlet>
    </div>
</div>
