<div style="margin-top: 1%">
    <div class="container">
        <h6> Día: {{ _diaSrv.diaPalabras(diaSemana) }} {{ fechaString | date: 'd/M/yyyy' }}. </h6>
    </div>

        <div class="container">
            <table *ngIf="!errorAsistencia; else noHayAsistencia" class="table text-center"> 
            <thead class="thead-light">
                <tr class="filters">
                <th scope="col">¿Asistió?</th>
                <th scope="col">Nombre y apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">DNI</th>
                <th scope="col">Responsable</th>
            </tr>
            </thead>
            <tbody *ngFor="let paciente of pacientesConResponsable">
                <td> 
                    <div *ngIf="paciente?.asistencia_area=== true; else desmarcado">
                        <input type="checkbox" (click)="crearAsistencia(paciente.idPaciente)" disabled checked>
                    </div>
                    <ng-template #desmarcado>
                        <input type="checkbox" (click)="crearAsistencia(paciente.idPaciente)" disabled>
                    </ng-template>
                </td>
                <td><button class="btn btn-link" (click)="irPaciente(paciente.idPaciente)">{{ paciente.nombrePaciente }} {{ paciente.apellidoPaciente }}</button></td> 
                <td>{{ calcularEdad(paciente.fechaNacimiento) }}</td> 
                <td>{{ paciente.dniPaciente }}</td>
                <td>{{ paciente.responsable?.nombrePaciente }} {{ paciente.responsable?.apellidoPaciente }}</td>
            </tbody>
            </table>

            <ng-template #noHayAsistencia>
                <p class="text-center" style="color: red">*No se encontraron asistencias en la fecha elegida.</p> 
            </ng-template>
        </div>

</div>
