<ngx-loading [show]="loadingDownload" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading><!-- Alerts -->

  <div class="row justify-content-center">
    <div class="col-auto">
      <button type="button" class="btn btn-outline-primary" (click)="render()">Exportar todo</button>
      <a data-toggle="tooltip" class="d-inline ml-2" data-placement="right" title="Exporta todas las estadísticas en formato PDF.">
          <img src="/src/assets/iconos/question.png" alt="información" class="mb-1" style="width: 17px; height: 17px;">
      </a>
    </div>
  </div>

  <div *ngFor="let item of chartExportar; index as i" >
    <div id="chart{{i}}" class="printChart" style="margin-left: 10%; margin-right:5%;">
      <br><br><br>
      <div class="row justify-content-center mb-3"><h5>{{item.nombre}}</h5></div>
      <div class="row">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="item.data"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        legendTitle="Referencias"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="item.xAxisLabel"
        [yAxisLabel]="item.yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
    </div>
    <div class="row justify-content-end" style="margin-left: 10%; margin-right:19%;">
      <div class="col-auto">
          <button type="button" class="btn btn-outline-primary" (click)="renderSingle(i)">Exportar {{ item.nombre }}</button>
          <a data-toggle="tooltip" class="d-inline ml-2" data-placement="right" title="Exporta únicamente esta estadística en formato PDF.">
              <img src="/src/assets/iconos/question.png" alt="información" class="mb-2 align-items-center" style="width: 17px; height: 17px;">
          </a>
      </div>
      
    <!-- </div>
    <h2>Last name: {{titleExportar}} ({{ titleExportar }})</h2>
  </div> -->
