<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div *ngIf="!loading" style="margin-top:1.0vh">

    <div class="d-flex justify-content-center mt-3 animated fadeIn" id="alert_mensaje" style="margin-left: 15px;"></div> 

    <h3 class="animated fadeIn fast" style="margin-left: 2%;"> Asistencia: {{ areaProfesional }} </h3>
    <hr style="border-color: black;">

    <div class="container animated fadeIn fast">
        <div class="row justify-content-between align-content-end m-2">
            <h6 class="mt-2">
            <a class="d-inline" style="margin-right: 0.6vh" data-toggle="tooltip" data-placement="right" title="Asistencia del día correspondiente únicamente al área principal del profesional.">
              <img src="/src/assets/iconos/question.png" alt="información" style="width: 20px; height: 20px;">
            </a> 
            Pacientes que asisten el día {{ diaPalabras(diaSemana) }}, {{ fechaString | date: 'd/M/y' }}: 
            </h6>
            <button type="submit" class="btn btn-sm btn-outline-success animated fadeIn" (click)="navegarAsistencia()">
            Ver asistencia general
            </button>
        </div>
        <div [ngSwitch]="noHayPacientes">
            <div *ngSwitchCase="true"> <p class="text-center" style="color: red;">*No se encontraron asistencias en el área para este día.</p> </div>

            <div *ngSwitchDefault>

                <table class="table text-center container animated fadeIn">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">¿Asistió?</th>
                        <th scope="col">Nombre y apellido</th>
                        <th scope="col">Edad</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Responsable</th>
                    </tr>
                </thead>

                <tbody *ngFor="let paciente of pacientes; let i=index">
                    <td> 
                        <div class="container">
                            <input type="checkbox" class="custom-checkbox" value="true" [checked]=paciente.asistencia_area (click)="modificarAsistencia(paciente, $event.target.checked)">
                        </div>  
                    </td>
                    <td><button class="btn btn-link" (click)="irPaciente(paciente.idPaciente)">{{ paciente?.nombrePaciente }} {{ paciente?.apellidoPaciente }}</button></td> 
                    <td>{{ calcularEdad(paciente?.fechaNacimiento) }}</td>
                    <td>{{ paciente?.dniPaciente }}</td>
                    <td>{{ paciente?.responsable?.nombrePaciente }} {{ paciente?.responsable?.apellidoPaciente }}</td>
                </tbody>
            </table>
            </div>
        </div>

        <hr style="margin-bottom: 2%; margin-top: 2%">

        <form #fechaForm="ngForm">
            <div class="form-group row ml-4" style="margin-top: 2%">
                <label class="col-auto col-form-label"> 
                    <a style="margin-right: 0.6vh" data-toggle="tooltip" data-placement="right" title="Permite buscar únicamente la asistencia referida al área seleccionada en un día ya transcurrido.">
                        <img src="/src/assets/iconos/question.png" alt="información" style="width: 20px; height: 20px; margin-bottom: 0.5vh">
                    </a> 
                    Asistencia del día:
                </label>
                <div class="controls col-3">
                    <input class="form-control" required id="inputFecha" [max]="fechaFiltro" type="date" placeholder="Fecha" style="margin-left: 1%" name="fecha" ngModel>
                    <span class="input-group-btn"></span>
                </div>
                <button type="btn btn-success" [disabled]="fechaForm.invalid" id="buscarBoton" class="btn btn-primary btn-sm" (click)="navegarFechaBusqueda(fechaForm)">
                    Buscar
                </button>
            </div>
        </form>

        <div id="accordion">
            <div class="collapse multi-collapse animated fadeIn" id="collapseAsistAreaFecha" data-parent="#accordion">
                <div class="card">
                    <app-asistencia-area-fecha #child></app-asistencia-area-fecha> 
                    <button type="button" class="btn btn-secondary btn-sm col-1"  style="margin-left: 46%; margin-top: 1%; margin-bottom: 2%" 
                            id="ocultarBoton" (click)="ocultarCollapse()"> Ocultar 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


