<div class="container" style="margin-top: 2%; margin-bottom: 2%">
  
  <h6>Día: {{ _diaSrv.diaPalabras(diaSemana) }}, {{ fechaBusqueda | date: 'd/M/yyyy' }}. </h6>

  <div>
      <div *ngIf="errorAsistencia; else noHayAsistencia"> 
          <p class="text-center" style="color: red">*No se encontraron asistencias en la fecha elegida.</p> 
      </div>

      <ng-template #noHayAsistencia>
        <div>
          <table class="table text-center">
            <thead class="thead-light">
              <tr class="filters">
                <th scope="col">¿Asistió?</th>
                <th scope="col">Nombre y apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">DNI</th>
                <th scope="col">Responsable</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let paciente of pacientes">
                <td><input disabled type="checkbox" class="custom-checkbox" value="true" [checked]=paciente.asistencia.asistio></td>
                <ng-container *ngIf="rol!=='recepcionista'; else norecepcionista">
                    <td><button class="btn btn-link" (click)="irPaciente(paciente.idPaciente)">{{ paciente?.nombrePaciente }} {{ paciente?.apellidoPaciente }}</button></td>  
                </ng-container>
                <ng-template #norecepcionista>
                    <td><button class="btn btn-link">{{ paciente?.nombrePaciente }} {{ paciente?.apellidoPaciente }}</button></td>  
                </ng-template>
                
                
                <td>{{ calcularEdad(paciente?.fechaNacimiento) }}</td>
                <td>{{ paciente?.dniPaciente }}</td>
                <td>{{ paciente?.responsable?.nombrePaciente }} {{ paciente?.responsable?.apellidoPaciente }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
</div>

