.dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
.containerContenido{
    top: 200px;
    margin-left: 31%;
    margin-right: 31%;

}
.medidas{
  background-color: #d5e1df;
  /* height: 50vh; */
  /* width: 50vh; */
}
.pepe {
  background-color: #1d96b2;
  border: 1px solid #1d96b2;
  font-weight: normal;
  text-align: center;
  color: white;
}
table.fixed {table-layout:fixed; width:90px;}/*Setting the table width is important!*/
table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {width:20px;}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {width:30px;}/*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {width:40px;}/*Setting the width of column 3.*/
.imagen {
  background-repeat:no-repeat;
  background-size: 100%;
  background-color: black;
}


.loading-container {
  display: flex;
  flex-wrap: wrap;
}

.loading {
  height: 189px;
  width: 189px;
  position: relative;
  margin: 0 15px 15px 0;
  padding: 15px;
  border: 1px #ccc solid;
  border-radius: 4px;
}

.loading p {
  margin: 0 0 10px 0;
}

/* .ng-dirty.ng-touched.ng-invalid:not(form){
  border-style: solid;
  border-color: red;
} */