<div class="container-fluid imagen" style="width:100%;height:100%;background-image: url(./assets/iconos/blood-pressure-gauge-business-computer-263370.jpg);padding:0%">
  <div class="container-fluid text-center" style="padding-top: 2vh;margin-bottom: 2vh;">
    <img src="../../../assets/iconos/logo.png" alt="" style="height: 22vh;">
  </div>
  <div>
    <div class= "container" style="margin: auto;width: 20rem;height: 28rem;background-color: #e9ecef;padding: 2%;opacity:0.95;border-radius: 3%">
          <div>
                <form class="m-3 text-center">

                      <h3>Bienvenido</h3>
                      <br>

                      <div class="form-group text-center">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input type="text" [(ngModel)]="usuario" class="form-control" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,15}$"
                        title="Debe comenzar con una letra. Puede contener letras, números, guiones bajos, puntos y tener entre 3 y 15 caracteres de longitud"
                        aria-describedby="emailHelp" placeholder="Usuario" required [ngModelOptions]="{standalone: true}" >
                      </div>

                      <div class= "form-group mt-4 text-center">
                        <label for= "exampleInputPassword1">Contraseña</label>
                        <input type= "password" [(ngModel)]="password" class="form-control" pattern="[a-zA-Z0-9]{6,15}"
                        title="Debe poseer mínimo 6 caracteres de longitud con letras y números"
                        placeholder="Contraseña" required [ngModelOptions]="{standalone: true}">
                      </div>
  
                      <div>
                          <button (click)= "validarDatosIngresados()" type="submit"
                          class="btn btn-primary mt-3" style='width:7rem; height:3rem'>Ingresar</button>
                      </div>

                      <div>
                        <button type="button" class="btn btn-link btn-sm mt-2" data-toggle="modal" data-target="#reestablecerContraseñaModal">¿Olvidó su contraseña?</button>
                      </div>
                </form>

                <div *ngIf="mostrarSmsError=== true" class="text-center" style= "color: red">
                  <p><small> {{ smsErrorLogueo }} </small></p>
                </div>
        </div>
</div>
</div>

    <div class="d-flex justify-content-center animated fadeIn" id="alert_mensaje"></div> 
    <ngx-loading [show]="loadingLogin" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

</div>

<!--  Modal de reestablecer contraseña -->
<div class="modal fade" id="reestablecerContraseñaModal" tabindex="-1" role="dialog" aria-labelledby="reestablecerContraseñaModal" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class= "container" style="margin: auto; width: 31rem; height: 28rem; background-color: #e9ecef; padding: 2%; opacity:0.95; border-radius: 3%">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="container mt-5">
        <div class="panel panel-default">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">¿Olvidó su contraseña?</h2>
              <p>Ingrese su correo y oprima renovar contraseña.</p>

                <form (ngSubmit)="reestablecerContrasenia(form.value.email)" name="form" #form="ngForm" novalidate="">
                    <div class="form-group">
                        <input class= "form-control"
                              type= "email"
                              placeholder= "Ingrese correo electrónico"
                              name= "email"
                              ngModel
                              required
                              pattern= "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    </div>

                    <div *ngIf="form.invalid && form.touched">
                      <p style="color: red;"><small>Formato de correo ingresado no válido</small></p>
                    </div>
                    <div *ngIf="!form.invalid; else disable">
                      <button type="submit" class="btn btn-md btn-secondary btn-block">
                        Renovar contraseña
                      </button>
                    </div>
                    <ng-template #disable>
                      <button type="submit" class="btn btn-md btn-secondary btn-block" disable>
                        Renovar contraseña
                      </button>
                    </ng-template>
                  </form>
              
            </div>
        </div>
      </div>
    </div>
    </div>  
  </div> 
</div>

<div class="modal fade" id="modalConfirmar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p>Te hemos enviado un mail para renovar tu contraseña. Por favor, revisa tu correo y sigue los pasos indicados allí.</p>
      </div>
        <button type="button" class="btn btn-success" id="boton" (click)="confirmar()" data-dismiss="modal">Confirmar</button>
    </div>
  </div>
</div>

