<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div *ngIf="!loading" style="margin-bottom: 1%">

    <div class="row mt-md-2 ml-md-4 animated fadeIn fast">
        <h4>Familia {{familia.apellidoGrupoFamilia}}</h4>
    </div>

    <hr style="border-color: black;">

    <div class="container mt-md-2 ml-md-0 animated fadeIn">
      <div class="row">
        <a data-toggle="tooltip" data-placement="right" title="Tabla con datos de cada integrante familiar. Permite editar y agregar integrantes familiares.">
          <img src="/src/assets/iconos/question.png" alt="información" style="margin-right: 1vh; width: 18px; height: 18px; margin-bottom: 0.4vh">
        </a>
        <h5 class="mb-md-3 font-weight-light">Integrantes</h5>
      </div>
      <table class="table table-striped text-center" style="margin-left: 35px;">
        <thead class="thead-light">
          <tr class="filters">
          <th scope="col"><strong>#</strong></th>
          <th scope="col"><strong>Nombre y apellido</strong></th>
          <th scope="col"><strong>Edad</strong></th>
          <th scope="col"><strong>DNI</strong></th>
          <th scope="col"><strong>Responsable</strong></th>
          <th scope="col"><strong>Opciones</strong></th>
        </tr>
        </thead>

        <tbody *ngFor="let integ of familia.integrantesFam">
          <td scope="row"> {{ familia.integrantesFam.indexOf(integ)+1 }}</td>
          <td><button class="btn btn-link" (click)="irPaciente(integ.idPaciente)">{{ integ.nombre+" "+integ.apellido }}</button></td>
          <td>{{ this._pacSrv.calcularEdad(integ.fechaNac) }}</td>
          <td>{{ integ.dni }}</td>
          <td>{{integ.responsable || "-" }}</td>
          <td><button type="button" class="btn btn-outline-primary" (click)="editarIntegrante(integ.idPaciente)">Editar</button></td>
        </tbody>
      </table>

      <div *ngIf="familia.integrantes=== null">
        <p class="d-flex justify-content-center" style="margin-top: 1%">*No hay integrantes familiares cargados aún.</p>
      </div>

      <button type="button" class="btn btn-outline-success" (click)="nuevoIntegrante(idParam)">Agregar Miembro</button>
    </div>

    <hr>
    <br>
    <div class="row">
      <div class="container ml-md-3 animated fadeIn">
     
  
        <div id="accordion">
          <div class="card">
              <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Ver relaciones familiares
                  </button>
              </h5>
              </div>
     
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body fadeIn">

                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-12">
                                  <div class="d-flex justify-content-center">
                                      
                                        <div class="card-body row">
                                          <div class="col-10">
                                              <table class="table text-center" style="margin-left: 78px;">
                                                  <thead class="thead-light">
                                                    <tr>
                                                      <th scope="col">Paciente</th>
                                                      <th scope="col">es</th>
                                                      <th scope="col">Paciente</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody *ngFor="let relacion of relaciones">
                                                    <td> {{ relacion.paciente1.nombre + " " + relacion.paciente1.apellido }} </td>
                                                    <td>{{ relacion.tipoRelacion.nombre }}</td>
                                                    <td>{{ relacion.paciente2.nombre + " " + relacion.paciente2.apellido }}</td>
                                                  </tbody>                
                                              </table>
                              
                                              <div *ngIf="relaciones.length=== 0">
                                                  <p class="d-flex justify-content-center" style="margin-top: 1%; margin-left: 23%">*No hay relaciones familiares cargadas.</p>
                                              </div>

                                              <button type="button" class="btn btn-info btn-sm ml-3 mt-2" (click)="irEditarRelFam()">Editar relaciones</button>
                                          </div>
                                        </div>

                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
      
</div>  
