<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>

<div *ngIf="!loading" class="container ml-5 margenTop animated fadeIn fast">
  <div>
    <div class="col-12">

      <h4>Profesional</h4>
      <hr style="border-color: black;">

      <div style="margin-left: 5%; margin-top: 5%;">
        <h5 style="font-family:Arial, Helvetica, sans-serif;"><strong> {{profesional.nombreProfesional}}
            {{profesional.apellidoProfesional}} </strong></h5>
      </div>

      <div style="float: right;">
        <button [routerLink]="['../modProfesional']" routerLinkActive="active" type="button"
          class="btn btn-outline-success" style='width:100px; height:40px; margin-left: 7px;'>Editar</button>
      </div>

      <div class="m-5 animated fadeIn">
        <form>
          <div class="form-group row d-flex justify-content-center">
            <label class="col-sm-4 col-form-label">Nombre:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" value="{{profesional.nombreProfesional}}" readonly>
            </div>
          </div>
        </form>

        <form>
          <div class="form-group row d-flex justify-content-center">
            <label class="col-sm-4 col-form-label">Apellido:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" value="{{profesional.apellidoProfesional}}" readonly>
            </div>
          </div>
        </form>

        <form>
          <div class="form-group row d-flex justify-content-center">
            <label for="inputPassword" class="col-sm-4 col-form-label">Número de documento:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" value="{{profesional.dniProfesional}}" readonly>
            </div>
          </div>
        </form>

        <form>
          <div class="form-group row d-flex justify-content-center">
            <label for="inputPassword" class="col-sm-4 col-form-label">Número de teléfono:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" value="{{profesional.telefonoProfesional}}" readonly>
            </div>
          </div>
        </form>

        <form>
          <div class="form-group row d-flex justify-content-center">
            <label for="inputPassword" class="col-sm-4 col-form-label">Especialidad:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" value="{{this._sesionSrv.getProfesional().tituloProfesional}}"
                readonly>
            </div>
          </div>
        </form>

        <form>
          <div class="form-group row d-flex justify-content-center">
            <label class="col-sm-4 col-form-label">Fecha de nacimiento:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" value="{{profesional.fechaNacimiento | date: 'dd/MM/yyyy'}}"
                readonly>
            </div>
          </div>
        </form>

        <form>
          <div class="form-group row d-flex justify-content-center">
            <label class="col-sm-4 col-form-label">Número de matrícula:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" value="{{profesional.matriculaProfesional}}" readonly>
            </div>
          </div>
        </form>

        <form>
          <div class="form-group row d-flex justify-content-center">
            <label class="col-sm-4 col-form-label">Fecha de ingreso:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" value="{{profesional.fecha_creado | date: 'dd/MM/yyyy' }}"
                readonly>
            </div>
          </div>
        </form>

        <form>
          <div class="form-group row d-flex justify-content-center">
            <label class="col-sm-4 col-form-label">Género:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputPassword" value="{{sexoProf}}" readonly>
            </div>
          </div>
        </form>

        <form>
          <div class="form-group row d-flex justify-content-center">
            <label class="col-sm-4 col-form-label">Centro de salud:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputPassword" value="{{centroProf}}" readonly>
            </div>
          </div>
        </form>

        <form>
          <div class="form-group row d-flex justify-content-center">
            <label class="col-sm-4 col-form-label">Calle del domicilio:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputPassword" value="{{domProf?.calle}}" readonly>
            </div>
          </div>
        </form>

        <div class="m-5">
          <div class="row d-flex justify-content-center">
            <div class="col-md-3 col-sm-4 col-xs-3 mt-3">
              <label class="d-flex justify-content-center" for="inputState"> Número de domicilio</label>
              <input type="text" class="form-control" name="altura" [ngModel]="domProf?.nroDomicilio" readonly />
            </div>

            <div class="col-md-3 col-sm-4 col-xs-3 mt-3">
              <label class="d-flex justify-content-center" for="inputState"> Piso del edificio </label>
              <input type="text" class="form-control" name="pisoEdif" [ngModel]="domProf?.piso" readonly />
            </div>

            <div class="col-md-3 col-sm-4 col-xs-3 mt-3">
              <label class="d-flex justify-content-center" for="inputState"> Número de deparmento </label>
              <input type="text" class="form-control" name="nroDomDepto" [ngModel]="domProf?.departamento" readonly />
            </div>
          </div>
        </div>

        <div class="m-5">
          <div class="row d-flex justify-content-center">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <label class="d-flex justify-content-center" for="inputState"> País </label>
              <input type="text" class="form-control" name="pais" [ngModel]="paisProf?.nombrePais" readonly />
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3">
              <label class="d-flex justify-content-center" for="inputState"> Provincia </label>
              <input type="text" class="form-control" name="provincia" [ngModel]="provProf?.nombreProvincia" readonly />
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3">
              <label class="d-flex justify-content-center" for="inputState"> Localidad </label>
              <input type="text" class="form-control" name="localidad" [ngModel]="domProf?.localidad.nombreLocalidad"
                readonly />
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

<style>
  .form-control[readonly] {
    background-color: rgb(247, 245, 245);
    opacity: 1;
    border-color: rgb(156, 156, 156);
  }
</style>