<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="font-weight-light">Búsqueda de familia</h4>
      <hr style="margin-bottom: 2%;">

      <form #termino="ngForm">
        <div class="form-group row justify-content-between align-content-end mr-4 animated ml-5 fadeIn fast" style="margin-bottom: 3%">
          <input class="form-control col-5"
            type="text"
            ngModel
            (keyup)= buscarFamilia(termino)
            placeholder="Búsqueda por apellido"
            name="familia"
            required>

          <button type="button" class="btn btn-outline-success animated fadeIn col-auto ml-3" (click)="buscarTodasFamilias()"> Mostrar todas</button>  
        </div>
      </form>

        <div *ngIf="!noFlia; else noHayFlia" class="animated fadeIn card-deck d-flex justify-content-center" style="width:100%">
            <div *ngFor="let familia of familias | paginate: { itemsPerPage: 12, currentPage: pageActual, totalItems: familias?.length  }">
              <div class="card" style="width: 17vw; height: 17vh; margin-bottom: 2vh;min-width: 220px;min-height: 165px;border:solid black 1px">
                  <div class="btn btn-default" (click)="verflia(familia.idGrupoFamilia)">
                      <div class="card-header mt-2 d-flex justify-content-center">
                          Familia {{familia.apellidoGrupoFamilia}}
                      </div>
                      <div class="card-body">
                        <p class="card-text text-left">
                          <small>
                            Fecha de ingreso: {{ fechaLinda(familia.fecha_creado) }} <br>
                            Cantidad integrantes: {{ familia.integrantesFam.length }} <br>
                          </small>
                        </p>

                      </div>
                  </div>
              </div>
            </div>
        </div>


        <ng-template #noHayFlia>
          <p class="text-center font-weight-light" style="color: red"> *No se encontraron familias con ese apellido.</p>
        </ng-template>

    </div>
  </div>

  <div class="row d-flex justify-content-center mt-5">
    <div *ngIf="mostrarPaginacion">
      <pagination-controls (pageChange)="pageActual= $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
  </div>

</div>
