<body>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
    </ngx-loading>

    <div *ngIf="!loading" style="margin-bottom: 4%">

        <h3 style="margin-left: 2%;">Integrante familiar</h3>
        <hr style="border-color: black;">

        <h6 style="margin-left: 2%"><u>Editar integrante</u>:</h6>

        <div class="row animated fadeIn">
            <div class="col-12">

                <form [formGroup]="formulariointegrante" (ngSubmit)="guardarIntegrante()"
                    style="margin-top: 4%; margin-left: 8%;">
                    <fieldset>

                        <div class="control-group row ml-5" style="margin-bottom: 3%;">
                            <label class="col-sm-4 col-form-label" for="apellido">Apellido:</label>
                            <div class="controls col-sm-4">
                                <input type="text" name="apellido" placeholder="Primera letra mayuscula y con acentos"
                                    class="form-control" formControlName="apellidoPaciente">

                                <div *ngIf="formulariointegrante.controls['apellidoPaciente'].errors?.minlength?.requiredLength ||
                                        formulariointegrante.controls['apellidoPaciente'].errors?.pattern?.requiredPattern ||
                                        formulariointegrante.controls['apellidoPaciente'].errors?.required"
                                    class="form-control-feedback">
                                    <small style="color:red;"> Campo obligatorio. Mínimo 2 letras.</small>
                                </div>
                            </div>
                        </div>

                        <div class="control-group row ml-5" style="margin-bottom: 3%;">
                            <label class="col-sm-4 col-form-label" for="nombre">Nombre:</label>
                            <div class="controls col-sm-4">
                                <input type="text" name="nombre" placeholder="Nombre" class="form-control"
                                    formControlName="nombrePaciente">

                                <div *ngIf="formulariointegrante.controls['nombrePaciente'].errors?.required ||
                                    formulariointegrante.controls['nombrePaciente'].errors?.minlength?.requiredLength ||
                                    formulariointegrante.controls['nombrePaciente'].errors?.pattern?.requiredPattern"
                                    class="form-control-feedback">
                                    <small style="color:red;">Campo obligatorio. Mínimo 2 letras.</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row ml-5" style="margin-bottom: 3%;">
                            <label class="col-sm-4 col-form-label" for="fechaNac">Fecha de nacimiento:</label>
                            <div class="controls col-sm-4">
                                <input class="form-control" type="date" [max]="fechaFiltro" name="fechaNac"
                                    formControlName="fechaNacimiento">
                                <div *ngIf="formulariointegrante.controls['fechaNacimiento'].errors?.required"
                                    class="form-control-feedback">
                                    <small style="color:red;">Campo obligatorio.</small>
                                </div>
                            </div>
                        </div>

                        <div class="control-group row ml-5" style="margin-bottom: 3%;">
                            <label class="col-sm-4 col-form-label" for="dni">DNI:</label>
                            <div class="controls col-sm-4">
                                <input type="text" name="dni" class="form-control" formControlName="dniPaciente">
                                <!-- <div *ngIf="formulariointegrante.controls.apellidoPaciente.touched==true"> -->
                                <div *ngIf="formulariointegrante.controls['dniPaciente'].errors?.minlength?.requiredLength ||
                                    formulariointegrante.controls['dniPaciente'].errors?.pattern?.requiredPattern"
                                    class="form-control-feedback">
                                    <small style="color:red;">Campo obligatorio. Mínimo 7 números.</small>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="control-group row ml-5" style="margin-bottom: 3%;">
                            <label class="col-sm-4 col-form-label" for="pais">País de nacimiento:</label>
                            <select class="form-control col-sm-3 ml-3" type="text" name="pais" formControlName="pais">
                                <option *ngFor="let pais of listaPaises" [ngValue]=pais.idPais> {{ pais.nombrePais }}
                                </option>
                            </select>
                            <div *ngIf="formulariointegrante.controls['pais'].errors?.required" class="ml-3">
                                <small style="color:red;">Campo obligatorio.</small>
                            </div>
                        </div>

                        <!--Ver el formato que va a tener esto para castearlo.-->
                        <!-- <div class="control-group row ml-5" style="margin-bottom: 3%;">
                        <label class="col-sm-4 col-form-label" for="nHC">N° Historia clinica:</label>
                        <div class="controls col-sm-4">
                            <input type="text" name="nHC" placeholder="Opcional" class="form-control" formControlName="nroHistoriaClinica">

                            <div *ngIf="formulariointegrante.controls['nroHistoriaClinica'].errors?.required">
                            <small style="color:red;">Campo obligatorio.</small>
                            </div>
                        </div>
                    </div> -->

                        <div class="control-group row ml-5" style="margin-bottom: 3%;">
                            <label class="col-sm-4 col-form-label" for="telefono">Teléfono:</label>
                            <div class="controls col-sm-4">
                                <input type="text" name="telefono" class="form-control"
                                    formControlName="telefonoPaciente">

                                <div *ngIf="formulariointegrante.controls['telefonoPaciente'].errors?.minlength?.requiredLength ||
                                    formulariointegrante.controls['telefonoPaciente'].errors?.pattern?.requiredPattern"
                                    class="form-control-feedback">
                                    <small style="color:red;">Campo obligatorio. Mínimo 6 números.</small>
                                </div>
                            </div>
                        </div>

                        <div class="control-group row ml-5" style="margin-bottom: 3%;">
                            <label class="col-sm-4 col-form-label" for="tipoPac">Tipo Paciente:</label>
                            <div class="controls col-sm-4">
                                <input disabled type="text" name="telefono" class="form-control"
                                formControlName="tipoPaciente_id">

                            </div>
                            <a class="ml-3 col-2 d-flex align-self-center" data-toggle="tooltip" data-placement="right"
                                [title]="placeholder_tipopac">
                                <img src="/src/assets/iconos/question.png" alt="información"
                                    style="margin-right: 1vh; width: 18px; height: 18px; margin-bottom: 0.4vh">
                            </a>
                        </div>

                        <div class="control-group row ml-5" style="margin-bottom: 3%;">
                            <label class="col-sm-4 col-form-label" for="centroS">Centro de salud:</label>
                            <select class="form-control col-sm-3 ml-3" type="text" name="centroS"
                                formControlName="centro">
                                <option *ngFor="let centro of listaCentros" [ngValue]=centro.idCentro>
                                    {{centro.nombreCentro}} </option>

                                <div *ngIf="formulariointegrante.controls['centro'].errors?.required">
                                    <small style="color:red;">Campo obligatorio.</small>
                                </div>
                            </select>
                        </div>

                        <div class="control-group row ml-5" style="margin-bottom: 3%;">
                            <label class="col-sm-4 col-form-label form-check-label" for="sexo">Sexo</label>
                            <div class="controls col-sm-4">
                                <label class="form-check-label" style="margin-left: 40px;">
                                    <input type="radio" id="feme" class="form-check-input" [value]=2
                                        formControlName="sexo">Femenino</label>

                                <label class="form-check-label" style="margin-left: 50px;">
                                    <input type="radio" id="masc" class="form-check-input" [value]=1
                                        formControlName="sexo">Masculino</label>

                                <div *ngIf="formulariointegrante.controls['sexo'].errors?.required">
                                    <small style="color:red;">Campo obligatorio.</small>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <!---------------------------------------------  Responsable ------------------------------------------------------------->



                <div *ngIf="this.formulariointegrante.controls['tipoPaciente_id'].value== 1" class="mb-5">
                    <hr>
                    <div *ngIf="listaIntegrantes.length > 0; else nohayresp">

                        <form [formGroup]="responsableFormulario" id="formResp"
                            style="margin-top: 1%; margin-left: 8%;">
                            <fieldset>

                                <div class="control-group row ml-5" style="margin-bottom: 1%;">
                                    <label class="col-3 col-form-label" for="responsable">Responsable:</label>
                                    <label class="col-3 col-form-label ml-5" for="tiporel">Es:</label>
                                    <a class="ml-3 col-2 d-flex align-self-end" data-toggle="tooltip"
                                        data-placement="right"
                                        title="Seleccione un responsable, y el tipo de relación, para el paciente actual. Se muestran sólo los integrantes mayores a 16 años.">
                                        <img src="/src/assets/iconos/question.png" alt="información"
                                            style="margin-right: 1vh; width: 18px; height: 18px; margin-bottom: 0.4vh">
                                    </a>
                                </div>
                                <div class="control-group row ml-5" style="margin-bottom: 2%;">
                                    <select class="form-control col-3 ml-2" type="text" name="responsable"
                                        formControlName="integrante">
                                        <option *ngFor="let integ of listaIntegrantes" [ngValue]=integ.id>
                                            {{integ.nombre}} </option>
                                    </select>
                                    <select class="form-control col-3 ml-5" type="text" name="tiporel"
                                        formControlName="tiporel">

                                        <option *ngFor="let trel of listaTiposrel" [ngValue]=trel.id> {{trel.nombre}}
                                        </option>
                                    </select>
                                </div>


                            </fieldset>
                        </form>
                    </div>
                    <hr>
                    <ng-template #nohayresp>
                        <p class="text-center font-weight-light" style="color: red"> No se puede asignar ningun
                            responsable a este niño, por favor cree primero un responsable</p>
                    </ng-template>
                </div>
                <!-----------------------------------------  Domiclio ----------------------------------------------------------------->

                <form [formGroup]="residenciaFormulario" (ngSubmit)="guardarIntegrante()" style="margin-left: 8%">
                    <div formGroupName="domicilioForm">
                        <div class="control-group row ml-5" style="margin-bottom: 3%;">
                            <label class="col-sm-4 col-form-label" for="tipoPac">Calle del domicilio:</label>
                            <div class="controls col-sm-4">
                                <input type="text" name="calle" placeholder="Nombre de la calle." class="form-control"
                                    formControlName="calle">
                                <div
                                    *ngIf="residenciaFormulario.controls['domicilioForm'].controls['calle'].errors?.required">
                                    <small style="color:red;">Campo obligatorio.</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container m-5">
                        <div style="margin-left:7%; margin-top:3%;">
                            <div class="row">
                                <div formGroupName="domicilioForm">
                                    <div class="form-group col-md-10 text-center">
                                        <label for="inputState"> Número de domicilio</label>
                                        <input type="text" style="margin-top: 8px;" class="form-control" name="altura"
                                            formControlName="nroDomicilio" />
                                    </div>
                                </div>

                                <div formGroupName="domicilioForm">
                                    <div class="form-group col-md-10 text-center">
                                        <label for="inputState"> Piso del edificio</label>
                                        <input type="number" style="margin-top: 8px;" class="form-control"
                                            name="pisoEdif" formControlName="piso" />
                                    </div>
                                </div>

                                <div formGroupName="domicilioForm">
                                    <div class="form-group col-md-10 text-center">
                                        <label for="inputState">Número de deparmento</label>
                                        <input type="text" style="margin-top: 8px;" class="form-control"
                                            name="nroDomDepto" formControlName="departamento" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container m-5">
                        <div style="margin-left:7%">
                            <div class="row">
                                <div formGroupName="paisForm">
                                    <div class="form-group col-md-10 text-center">
                                        <label for="inputState"> País</label>
                                        <input readonly type="text" style="margin-top: 8px;" class="form-control"
                                            name="countryEleg" formControlName="nombrePais" />
                                    </div>
                                </div>

                                <div formGroupName="provinciaForm">
                                    <div class="form-group col-md-10 text-center">
                                        <label for="inputState"> Provincia</label>
                                        <input readonly type="text" style="margin-top: 8px;" class="form-control"
                                            name="stateEleg" formControlName="nombreProvincia" />
                                    </div>
                                </div>

                                <div formGroupName="domicilioForm">
                                    <div formGroupName="localidad">
                                        <div class="form-group col-md-10 text-center">
                                            <label for="inputState">Localidad</label>
                                            <input readonly type="text" style="margin-top: 8px;" class="form-control"
                                                name="cityEleg" formControlName="nombreLocalidad" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                <!------------------------------------------------------------------------------------------------------------->

                <div class="text-center">
                    <button type="button" [disabled]="!formulariointegrante.valid || !residenciaFormulario.valid"
                        class="btn btn-outline-success btn-lg" data-toggle="modal" data-target="#myModal">
                        Guardar
                    </button>
                </div>

                <div class="d-flex justify-content-center animated fadeIn" id="alert_mensaje"></div>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" data-backdrop="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                ¿Desea guardar los cambios realizados?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    data-dismiss="modal">Cancelar</button>
                                <button type="submit" id="btnSave" class="btn btn-success btn-sm"
                                    (click)="guardarIntegrante()" data-dismiss="modal">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end" style="margin-top: 3%">
                    <div class="d-flex flex-column">
                        <button style="margin-bottom: 5%; color: white;" *ngIf="pacienteIngresado"
                            class="btn btn-primary btn-sm col-ms-8" data-toggle="collapse"
                            data-target="#collapseAsignarDia" aria-expanded="false"
                            aria-controls="collapseAsignarDia">Días de visita</button>
                        <div>
                            <button style="margin-bottom: 2%; width: 14vh; color: white;"
                                class="btn btn-success btn-sm col-ms-8" data-toggle="collapse" data-target="#accordion"
                                aria-expanded="false" aria-controls="accordion"> Domicilios </button>
                        </div>
                    </div>
                </div>

                <div id="accordion" class="accordion-body collapse mt-3">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                    Asignar un domicilio familiar
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex justify-content-center">
                                                <div *ngIf="domiciliosFam== null">
                                                    <p>*No hay domicilios familiares para este paciente.</p>
                                                </div>

                                                <div *ngFor="let domFam of domiciliosFam">
                                                    <div class="card text-white bg-success mb-3 mt-3 ml-3 mr-3"
                                                        style="max-width: 14rem;">
                                                        <div class="card-header">Datos del domicilio</div>
                                                        <div class="card-body">
                                                            <p class="card-text">Calle:
                                                                <strong>{{domFam.calle}}</strong></p>
                                                            <p class="card-text">N° domicilio: {{domFam.nroDomicilio}}
                                                            </p>
                                                            <p class="card-text">Localidad:
                                                                {{domFam.localidad.nombreLocalidad}} </p>
                                                            <p *ngIf="domFam.departamento!=null" class="card-text">N°
                                                                departamento: {{domFam.departamento}} </p>
                                                            <p *ngIf="domFam.piso!=null" class="card-text">N° piso:
                                                                {{domFam.piso}} </p>

                                                            <button type="button" class="btn btn-outline-light btn-sm"
                                                                (click)="ActualizarDom(domFam)">
                                                                Asignar como domicilio
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="true" aria-controls="collapseTwo">
                                    Generar nuevo domicilio
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">


                                <form [formGroup]="nuevaResidenciaFormulario"
                                    style="margin-left: 14%; margin-bottom: 5%; margin-top: 2%">
                                    <div formGroupName="domicilioForm">
                                        <div class="control-group row ml-5" style="margin-bottom: 3%">
                                            <label class="col-sm-4 col-form-label" for="tipoPac">Calle del
                                                domicilio:</label>
                                            <div class="controls col-sm-4">
                                                <input type="text" name="calle" placeholder="Nombre de la calle."
                                                    class="form-control" formControlName="calle">
                                                <div *ngIf="nuevaResidenciaFormulario.controls['domicilioForm'].controls['calle'].errors?.required"
                                                    class="form-control-feedback">
                                                    <small style="color:red;">Campo obligatorio.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="container m-4" style="margin-left: 5%">
                                            <div class="row ">
                                                <div formGroupName="domicilioForm">
                                                    <div class="form-group col-md-10 text-center">
                                                        <label for="inputState"> Número de domicilio</label>
                                                        <input type="text" style="margin-top: 2%;" class="form-control"
                                                            name="altura" formControlName="nroDomicilio" />
                                                        <div *ngIf="nuevaResidenciaFormulario.controls['domicilioForm'].controls['nroDomicilio'].errors?.required"
                                                            class="form-control-feedback">
                                                            <small style="color:red;">Campo obligatorio.</small>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div formGroupName="domicilioForm">
                                                    <div class="form-group col-md-10 text-center"
                                                        style="margin-left: 7%">
                                                        <label for="inputState"> Piso del edificio</label>
                                                        <input type="number" style="margin-top: 2%;"
                                                            class="form-control" name="pisoEdif"
                                                            formControlName="piso" />
                                                        <div *ngIf="nuevaResidenciaFormulario.controls['domicilioForm'].controls['piso'].errors?.pattern?.requiredPattern || 
                                                                            nuevaResidenciaFormulario.controls['domicilioForm'].controls['piso'].errors?.min"
                                                            class="form-control-feedback">
                                                            <small style="color:red;">Ingrese números válidos.</small>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div formGroupName="domicilioForm">
                                                    <div class="form-group col-md-10 text-center"
                                                        style="margin-left: 11%">
                                                        <label for="inputState" for="fijo">Número de deparmento</label>
                                                        <input type="number" style="margin-top: 2%;"
                                                            class="form-control" name="nroDomDepto"
                                                            formControlName="departamento" />
                                                        <div *ngIf="nuevaResidenciaFormulario.controls['domicilioForm'].controls['departamento'].errors?.pattern?.requiredPattern || 
                                                                            nuevaResidenciaFormulario.controls['domicilioForm'].controls['departamento'].errors?.min"
                                                            class="form-control-feedback">
                                                            <small style="color:red;">Ingrese números válidos.</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container m-4" style="margin-left: 5%">
                                        <div class="row">
                                            <div formGroupName="paisForm" class="form-group dropdownSize text-center"
                                                style="margin-left: 2%">
                                                <label for="inputState">País</label>
                                                <select id="paisEleg" class="form-control" name="countryEleg"
                                                    formControlName="idPais"
                                                    (change)="traerProvLista($event.target.value)">
                                                    <option selected [value]="null" disabled> Elegir país</option>
                                                    <option *ngFor="let pais of listaPaises" [value]="pais.idPais">
                                                        {{ pais.nombrePais }} </option>
                                                </select>
                                            </div>


                                            <div formGroupName="provinciaForm"
                                                class="form-group dropdownSize text-center" style="margin-left: 9%">
                                                <label for="inputState">Provincia</label>
                                                <select class="form-control" name="stateEleg"
                                                    formControlName="idProvincia"
                                                    (change)="traerLocLista($event.target.value)">
                                                    <option selected [value]="null" disabled> Elegir provincia</option>
                                                    <option *ngFor="let provincia of listaProvincias"
                                                        [value]="provincia.idProvincia" id="algo">
                                                        {{ provincia.nombreProvincia }} </option>
                                                </select>
                                            </div>

                                            <div formGroupName="domicilioForm" style="margin-left: 9%">
                                                <div formGroupName="localidad"
                                                    class="form-group dropdownSize text-center">
                                                    <label for="inputState">Localidad</label>
                                                    <select class="form-control" name="cityEleg"
                                                        formControlName="idLocalidad">
                                                        <option selected [value]="null" disabled> Elegir localidad
                                                        </option>
                                                        <option *ngFor="let localidad of listaLocalidades"
                                                            [value]="localidad.idLocalidad">
                                                            {{ localidad.nombreLocalidad }} </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="d-flex justify-content-center" style="margin-top: 7%">
                                    <button type="button" [disabled]="!nuevaResidenciaFormulario.valid"
                                        class="btn btn-outline-success btn-sm" data-toggle="modal"
                                        data-target="#nuevoDom">
                                        Crear domicilio
                                    </button>
                                </div>

                                <!-- modal de nuevo domicilio -->
                                <div class="modal fade" id="nuevoDom" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" data-backdrop="false">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                ¿Está seguro de crear un nuevo domicilio para el integrante?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                    data-dismiss="modal">Salir</button>
                                                <button type="button" class="btn btn-primary btn-sm"
                                                    (click)="guardarNuevoDom()" data-dismiss="modal">Crear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- collapse (asignar día).-->
                <div class="collapse mt-3" id="collapseAsignarDia">
                    <div class="card card-deck d-flex justify-content-center">
                        <div class="col-md-5">
                            <app-modificar-dias [idPaciente]="this.idParam"></app-modificar-dias>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>