<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>

<div *ngIf="!loading">
    <div class="container margenTop ml-3">
        <div class="row">
            <div class="col-12">

                <div class="m-2 animated fadeIn fast">
                    <h3>Modificar perfil del profesional</h3>
                </div>

                <hr style="border-color:black; margin-top: 15px;">

                <div class="volverButton">
                    <button type="button" class="btn btn-outline-primary mr-3" [routerLink]="['../verProfesional']"
                        routerLinkActive="active" style='width:80px; height:40px'> Volver </button>
                </div>

                <div class="row animated fadeIn ml-4" style="margin-top: 70px;">
                    <div class="col-12">

                        <form [formGroup]="formularioprofesional" (ngSubmit)="confirmarCambios()"
                            style="margin-top: 3%; margin-left: 5%">
                            <fieldset>

                                <div class="form-group row d-flex justify-content-center" style="margin-bottom: 2%;">
                                    <label class="col-sm-4 col-form-label">Nombre:</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" name="nombre"
                                            formControlName="nombreProfesional">
                                        <div *ngIf="formularioprofesional.controls['nombreProfesional'].errors?.required || 
                                            formularioprofesional.controls['nombreProfesional'].errors?.minlength?.requiredLength || 
                                            formularioprofesional.controls['nombreProfesional'].errors?.pattern?.requiredPattern"
                                            class="form-control-feedback">
                                            <small style="color:red;">Campo obligatorio. Mínimo 2 letras.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row d-flex justify-content-center" style="margin-bottom: 2%;">
                                    <label class="col-sm-4 col-form-label">Apellido:</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" formControlName="apellidoProfesional">
                                        <div *ngIf="formularioprofesional.controls['apellidoProfesional'].errors?.minlength?.requiredLength || 
                                                    formularioprofesional.controls['apellidoProfesional'].errors?.pattern?.requiredPattern || 
                                                    formularioprofesional.controls['apellidoProfesional'].errors?.required"
                                            class="form-control-feedback">
                                            <small style="color:red;"> Campo obligatorio. Mínimo 2 letras.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row d-flex justify-content-center" style="margin-bottom: 2%;">
                                    <label class="col-sm-4 col-form-label" for="fechaNac">Fecha de
                                        nacimiento:</label>
                                    <div class="controls col-sm-4">
                                        <input class="form-control" type="date" name="fechaNac" [max]="fechaFiltro"
                                            formControlName="fechaNacimiento">
                                        <div *ngIf="formularioprofesional.controls['fechaNacimiento'].errors?.required || 
                                            formularioprofesional.controls['fechaNacimiento'].errors?.minlength?.requiredLength || 
                                            formularioprofesional.controls['fechaNacimiento'].errors?.pattern?.requiredPattern"
                                            class="form-control-feedback">
                                            <small style="color:red;">Campo obligatorio. Mínimo 2 letras.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row d-flex justify-content-center" style="margin-bottom: 2%;">
                                    <label class="col-sm-4 col-form-label">Número de documento:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="dni"
                                            formControlName="dniProfesional">
                                        <div *ngIf="formularioprofesional.controls['dniProfesional'].errors?.required ||  
                                                formularioprofesional.controls['dniProfesional'].errors?.minlength?.requiredLength ||
                                                formularioprofesional.controls['dniProfesional'].errors?.pattern?.requiredPattern"
                                            class="form-control-feedback">
                                            <small style="color:red;">Campo obligatorio. Mínimo 7 números.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row d-flex justify-content-center" style="margin-bottom: 2%;">
                                    <label class="col-sm-4 col-form-label">Número de teléfono:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="nroTel"
                                            formControlName="telefonoProfesional">
                                        <div *ngIf="formularioprofesional.controls['telefonoProfesional'].errors?.required ||  
                                                formularioprofesional.controls['telefonoProfesional'].errors?.minlength?.requiredLength ||
                                                formularioprofesional.controls['telefonoProfesional'].errors?.pattern?.requiredPattern"
                                            class="form-control-feedback">
                                            <small style="color:red;">Campo obligatorio. Mínimo 6 números.</small>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row d-flex justify-content-center" style="margin-bottom: 2%;">
                                    <label class="col-sm-4 col-form-label pl-0"> Centro de salud: </label>
                                    <select class="form-control tamanio_select" name="centroS" formControlName="centro">
                                        <option *ngFor="let centro1 of centrosDisponibles" [value]="centro1.idCentro">
                                            {{centro1.nombreCentro}} </option>
                                    </select>
                                </div>

                                <div class="form-group row d-flex justify-content-center" style="margin-bottom: 2%;">
                                    <label class="col-sm-4 col-form-label pl-0" for="sexo"> Género: </label>
                                    <select class="form-control tamanio_select" name="sexo" formControlName="sexo">
                                        <option *ngFor="let sexo of sexosDisponibles" [value]="sexo.idSexo">
                                            {{sexo.nombreSexo}} </option>
                                    </select>
                                </div>

                                <div class="form-group row d-flex justify-content-center" style="margin-bottom: 2%;">
                                    <label class="col-sm-4 col-form-label">Número de matricula:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="nroMat"
                                            formControlName="matriculaProfesional">
                                        <div *ngIf="formularioprofesional.controls['matriculaProfesional'].errors?.required ||  
                                                formularioprofesional.controls['matriculaProfesional'].errors?.minlength?.requiredLength ||
                                                formularioprofesional.controls['matriculaProfesional'].errors?.pattern?.requiredPattern"
                                            class="form-control-feedback">
                                            <small style="color:red;">Campo obligatorio. Mínimo 2 números.</small>
                                        </div>
                                    </div>

                                </div>

                                <div formGroupName="residenciaFormulario" style="margin-bottom: 2%;">
                                    <div formGroupName="domicilioForm"
                                        class="form-group row d-flex justify-content-center">
                                        <label class="col-sm-4 col-form-label">Calle del domicilio:</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="text" name="domCalle"
                                                formControlName="calle">
                                            <div *ngIf="formularioprofesional.controls['residenciaFormulario'].controls['domicilioForm'].controls['calle'].errors?.required"
                                                class="form-control-feedback">
                                                <small style="color:red;">Campo obligatorio.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row d-flex justify-content-center m-5" formGroupName="residenciaFormulario">

                                    <div class="col-md-3 col-sm-4 col-xs-3 mt-3" formGroupName="domicilioForm">
                                        <label class="d-flex justify-content-center" for="inputState"> Número de
                                            domicilio
                                        </label>
                                        <div>
                                            <input type="text" class="form-control" name="domNro"
                                                formControlName="nroDomicilio">
                                            <div *ngIf="formularioprofesional.controls['residenciaFormulario'].controls['domicilioForm'].controls['nroDomicilio'].errors?.required"
                                                class="form-control-feedback">
                                                <small style="color:red;">Campo obligatorio.</small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-3 col-sm-4 col-xs-3 mt-3" formGroupName="domicilioForm">
                                        <label class="d-flex justify-content-center" for="inputState"> Piso del edificio
                                        </label>
                                        <div>
                                            <input type="number" class="form-control" name="domPiso"
                                                formControlName="piso">
                                            <div *ngIf="formularioprofesional.controls['residenciaFormulario'].controls['domicilioForm'].controls['piso'].errors?.pattern?.requiredPattern
                                                        || formularioprofesional.controls['residenciaFormulario'].controls['domicilioForm'].controls['piso'].errors?.min"
                                                class="form-control-feedback">
                                                <small style="color:red;">Ingrese números válidos.</small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-3 col-sm-4 col-xs-3 mt-3" formGroupName="domicilioForm">
                                        <label class="d-flex justify-content-center" for="inputState"> Número de
                                            deparmento
                                        </label>
                                        <div>
                                            <input type="number" class="form-control" name="nroDomDpto"
                                                formControlName="departamento">
                                            <div *ngIf="formularioprofesional.controls['residenciaFormulario'].controls['domicilioForm'].controls['departamento'].errors?.pattern?.requiredPattern
                                                            || formularioprofesional.controls['residenciaFormulario'].controls['domicilioForm'].controls['departamento'].errors?.min"
                                                class="form-control-feedback">
                                                <small style="color:red;">Ingrese números válidos.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-center m-5" formGroupName="residenciaFormulario">

                                    <div class="col-md-3 col-sm-4 col-xs-3" formGroupName="paisForm">
                                        <label class="d-flex justify-content-center" for="inputState"> País
                                        </label>
                                        <select class="form-control" formControlName="idPais"
                                            (change)="traerProvLista($event.target.value)">
                                            <option *ngFor="let pais of paisesDisponibles" [value]="pais.idPais">
                                                {{ pais.nombrePais }} </option>
                                        </select>
                                    </div>


                                    <div class="col-md-3 col-sm-4 col-xs-3" formGroupName="provinciaForm">
                                        <label class="d-flex justify-content-center" for="inputState"> Provincia
                                        </label>
                                        <select class="form-control" formControlName="idProvincia"
                                            (change)="traerLocLista($event.target.value)">
                                            <option value="null" disabled> Elegir provincia </option>
                                            <option *ngFor="let provincia of provinciasDisponibles"
                                                [value]="provincia.idProvincia"> {{ provincia.nombreProvincia }}
                                            </option>
                                        </select>
                                    </div>


                                    <div class="col-md-3 col-sm-4 col-xs-3" formGroupName="domicilioForm">
                                        <div formGroupName="localidad">
                                            <label class="d-flex justify-content-center" for="inputState"> Localidad
                                            </label>
                                            <select class="form-control" formControlName="idLocalidad">
                                                <option value="null" disabled> Elegir localidad </option>
                                                <option *ngFor="let localidad of localidadesDisponibles"
                                                    [value]="localidad.idLocalidad"> {{ localidad.nombreLocalidad }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </form>


                        <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

                        <div class="d-flex justify-content-center mt-3">
                            <button type="button" [disabled]="!formularioprofesional.valid" class="pl-3 pr-3 pt-2 pb-2 btn btn-success"
                                data-toggle="modal" data-target="#myModal">
                                Guardar
                            </button>
                        </div>

                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" data-backdrop="false">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        ¿Desea guardar los cambios realizados?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-success btn-sm"
                                            (click)="confirmarCambios()" data-dismiss="modal">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>