<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>

<div *ngIf="!loading">

  <div *ngIf="!error; else errortemplate">

    <div class="flex-container" style="padding:1%; margin-top: 4%">
      <div class="animated fadeIn" id="content">
        <div class="row ml-3">
          <!--imagen tipo paciente-->
          <img *ngIf="paciente.datos.tipoPaciente.nombreTipoPaciente=='Niño'"
            src="../../../../../assets/iconos/ninos_black.svg" class="float-right" style="width:40px;height:40px;"
            title="Tipo de paciente: {{ paciente.datos.tipoPaciente.nombreTipoPaciente }}">
          <img *ngIf="paciente.datos.tipoPaciente.nombreTipoPaciente=='Mujer'"
            src="../../../../../assets/iconos/madres_black.svg" class="float-right" style="width:40px;height:40px;"
            title="Tipo de paciente: {{ paciente.datos.tipoPaciente.nombreTipoPaciente }}">
          <img *ngIf="paciente.datos.tipoPaciente.nombreTipoPaciente=='Otro'"
            src="../../../../../assets/iconos/family.svg" class="float-right" style="width:40px;height:40px;"
            title="Tipo de paciente: {{ paciente.datos.tipoPaciente.nombreTipoPaciente }}">
          <!--imagen tipo paciente-->
          <h4 style="display:flex; align-items:flex-end" class="ml-3">{{paciente.datos.nombrePaciente}}
            {{paciente.datos.apellidoPaciente}}</h4>
        </div>
        <hr class="border-dark">
        <div class="row">
          <div class="col-6">
            <div class="jumbo-bg shadow-sm p-3 mb-5 rounded m-3">
              <h4 class="text-center">Datos personales</h4>
              <hr class="border-dark">
              <b class="ml-4">Número de historia clínica: </b> {{paciente.datos.nroHistoriaClinica}} <br>
              <b class="ml-4">D.N.I: </b> {{paciente.datos.dniPaciente || "No informado"}} <br>
              <b class="ml-4">Edad: </b> {{edad}} <br>
              <b class="ml-4">Fecha de nacimiento: </b> {{paciente.datos.fechaNacimiento | date: 'dd/MM/yyyy'}} <br>
              <b class="ml-4">Teléfono: </b>{{paciente.datos.telefonoPaciente || "No informado"}}<br>
              <div *ngIf="paciente.datos.centro===1; else otrocentro">
                <b class="ml-4">Centro: </b> Las Heras <br>
              </div>
              <ng-template #otrocentro>
                <b class="ml-4">Centro: </b> Guaymallén <br>
              </ng-template>

              <div *ngIf="paciente.datos.sexo===2; else masculino">
                <b class="ml-4">Sexo: </b> Femenino <br>
              </div>
              <ng-template #masculino>
                <b class="ml-4">Sexo: </b> Masculino <br>
              </ng-template>
              <b class="ml-4">Domicilio: </b> {{domicilio}} <br>
              <b class="ml-4">Grupo familiar:</b><button class="btn btn-link p-0 ml-1" style="margin-bottom: 0.5vh;"
                (click)="irGrupoFamiliar()">{{familia.apellidoGrupoFamilia}}</button><br>
            </div>

            <div class="jumbo-bg shadow-sm p-3 mb-5 rounded m-3 text-center">
              <h4 class="d-inline">Estado del paciente: {{paciente.estado}}</h4>
              <a data-toggle="tooltip" class="d-inline ml-2" data-placement="right"
                title="Estado del paciente dentro del establecimiento. Depende del tipo de paciente y su condición física.">
                <img src="/src/assets/iconos/question.png" alt="información" class="mb-1"
                  style="width: 17px; height: 17px;">
              </a>
            </div>

            <div
              *ngIf="paciente.datos.tipoPaciente.idTipoPaciente==1 && (paciente.estado != 'No diagnosticado' && paciente.estado != 'No ingresado' && paciente.estado != 'Alta')"
              class="jumbo-bg shadow-sm p-3 mb-5 rounded m-3 text-center">
              <h4 class="d-inline">Día/s de visita</h4>
              <a data-toggle="tooltip" class="ml-2 d-inline" data-placement="right"
                title="Los días marcados en azul corresponden a los días asignados al paciente para concurrir al establecimiento. Dependen del tipo de paciente a tratar y su condición física. Los días pueden ser asignados y desasignados haciendo clic sobre el día a elegir.">
                <img src="/src/assets/iconos/question.png" alt="información" class="mb-1"
                  style="width: 17px; height: 17px;">
              </a>
              <hr class="border-dark">
              <div class="card-deck d-flex justify-content-around pr-5 pl-5 pb-1 pt-1">
                <div *ngFor="let diaAsistencia of diaAsistenciaPaciente" class="pb-1 pb-1">
                  <div *ngIf="diaAsistencia.pacienteViene; else noViene"
                    class="card border-info text-info notice clickable mb-1 mt-1"
                    (click)="eliminarDiaVisitaPrompt(diaAsistencia)">
                    <div class="card-body pt-2 pb-2 pl-3 pr-3">{{ diaAsistencia.nombreDia }}</div>
                  </div>
                  <ng-template #noViene>
                    <div class="card border-secondary text-secondary clickable mb-1 mt-1"
                      (click)="agregarDiaVisitaPrompt(diaAsistencia)">
                      <div class="card-body pt-2 pb-2 pl-3 pr-3">{{ diaAsistencia.nombreDia }}</div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>

            <div class="jumbo-bg shadow-sm p-3 mb-4 rounded m-3 text-center">
              <h4 class="d-inline">Relaciones del paciente</h4>
              <a data-toggle="tooltip" class="ml-2 d-inline" data-placement="right"
                title="Detalle de los parientes del paciente, junto con su relación. El responsable se encuentra marcado con un corazón. Para pacientes de tipo diferente a niño, notese que la relación es del paciente actual sobre el mostrado en la tabla.">
                <img src="/src/assets/iconos/question.png" alt="información" class="mb-1"
                  style="width: 17px; height: 17px;">
              </a>
              <hr class="border-dark">
              <table class="table table-bordered table-hover bg-light">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Relación</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let rel of relaciones">
                    <tr *ngIf="rel.pacienteUno.idPaciente==paciente.datos.idPaciente"
                      (click)="irPaciente(rel.pacienteDos.idPaciente)">
                      <td>{{ rel.pacienteDos.nombrePaciente }} {{ rel.pacienteDos.apellidoPaciente }}</td>
                      <td class="w-50">{{ rel.tipoRelacion.nombreTipoRelacion }} <img *ngIf="rel.responsable"
                          src="../../../../../assets/iconos/corazon.svg" style="width:1vw;"></td>
                    </tr>
                    <tr *ngIf="rel.pacienteDos.idPaciente==paciente.datos.idPaciente"
                      (click)="irPaciente(rel.pacienteUno.idPaciente)">
                      <td>{{ rel.pacienteUno.nombrePaciente }} {{ rel.pacienteUno.apellidoPaciente }}</td>
                      <td class="w-50">{{ rel.tipoRelacion.nombreTipoRelacion }} <img *ngIf="rel.responsable"
                          src="../../../../../assets/iconos/corazon.svg" style="width:1vw;"></td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <div>

              </div>
            </div>

          </div>


          <div class="col-6">
            <div class="jumbo-bg shadow-sm p-3 mb-4 rounded m-3">
              <app-asistencia-historico [idPac]="paciente.datos.idPaciente"></app-asistencia-historico>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="jumbo-bg shadow-sm p-3 mb-2 rounded m-3 col-12 text-center">
            <h4 class="d-inline">Formularios</h4>
            <a data-toggle="tooltip" class="ml-2 d-inline" data-placement="right"
              title="Formularios del paciente actual, en los que el profesional tenga algún permiso. Haga clic en 'Referencias de íconos' para más información acerca del estado de los formularios y los permisos asociados.">
              <img src="/src/assets/iconos/question.png" alt="información" class="mb-1"
                style="width: 17px; height: 17px;">
            </a>
            <hr width="100%" class="border-dark">
            <div *ngIf="areaForm.length == 0">
              <div class="row text-center d-block"><img src="../../../../../assets/iconos/sad_black.svg"></div>
              <div class="row text-center d-block">
                <h3>El paciente no tiene formularios.</h3>
              </div>
            </div>
            <div class="card-deck d-flex justify-content-center" id="formularios">
              <div *ngFor="let area of areaForm" style="width:32%; margin-bottom:2%">
                <div class="card">
                  <div class="card-header">
                    <h5 class="text-center mb-0">{{ area.areaNom }}</h5>
                  </div>
                  <div class="card-body text-left container pl-3 pr-3">
                    <div *ngFor="let form of area.forms" class="row mb-2 clickable hover-gris">
                      <a style="text-decoration: none; color:black;" class="col-9"
                        (click)="verFormulario(form.formId, paciente.datos.idPaciente)">
                        {{form.formCod}} : {{form.formNom}}
                      </a>
                      <div class="col-3 pr-3" style="vertical-align:middle;padding: 0px">

                        <div *ngIf="form.formPermiso==1">
                          <div *ngIf="form.formEstado == 'Lleno'" class="align-right d-inline-block" style="width:100%">
                            <img src="../../../../../assets/iconos/barra_llena.png" width="30" height="9" alt="">
                            <img style="margin: 0px 0px 0% 12%;" width="20" height="20"
                              src="../../../../../assets/iconos/lectura.png">
                          </div>
                          <div *ngIf="form.formEstado == 'Parcial'" class="align-right d-inline-block"
                            style="width:100%">
                            <img src="../../../../../assets/iconos/barra_parcial.png" width="30" height="9" alt="">
                            <img style="margin: 0px 0px 0% 12%" width="20" height="20"
                              src="../../../../../assets/iconos/lectura.png">
                          </div>
                          <div *ngIf="form.formEstado == 'Vacio'" class="align-right d-inline-block" style="width:100%">
                            <img src="../../../../../assets/iconos/barra_vacia.png" width="30" height="9" alt="">
                            <img style="margin: 0px 0px 0px 12%" width="20" height="20"
                              src="../../../../../assets/iconos/lectura.png">
                          </div>
                        </div>

                        <div *ngIf="form.formPermiso==2">
                          <div *ngIf="form.formEstado == 'Lleno'" class="align-right d-inline-block" style="width:100%">
                            <img src="../../../../../assets/iconos/barra_llena.png" width="30" height="9" alt="">
                            <img style="margin: 0px 0px 0% 12%;" width="20" height="20"
                              src="../../../../../assets/iconos/escritura.png">
                          </div>
                          <div *ngIf="form.formEstado == 'Parcial'" class="align-right d-inline-block"
                            style="width:100%">
                            <img src="../../../../../assets/iconos/barra_parcial.png" width="30" height="9" alt="">
                            <img style="margin: 0px 0px 0% 12%" width="20" height="20"
                              src="../../../../../assets/iconos/escritura.png">
                          </div>
                          <div *ngIf="form.formEstado == 'Vacio'" class="align-right d-inline-block" style="width:100%">
                            <img src="../../../../../assets/iconos/barra_vacia.png" width="30" height="9" alt="">
                            <img style="margin: 0px 0px 0px 12%" width="20" height="20"
                              src="../../../../../assets/iconos/escritura.png">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#myLargeModalLabel">
              Referencias de íconos
            </button>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>



<ng-template #errortemplate>
  <br><br>
  <div class="d-flex justify-content-center">

    <div class="alert alert-danger" style="width:auto">
      <span style="width:auto">Hubo un problema buscando al paciente, por favor reintentelo nuevamente.</span>
    </div>
  </div>
</ng-template>



<!-- MODAL -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" id="myLargeModalLabel" role="dialog"
  aria-labelledby="myLargeModalLabel" data-backdrop="false">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content" style="background-color: whitesmoke;">
      <div class="modal-header">
        <h5 class="modal-title">Referencias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="d-flex justify-content-center" style="background-color: whitesmoke;">
        <div class="card col-12">
          <div class="card-body font-weight-light">

            <div class="row">
              <div class="col-2">
                Completitud:
              </div>
              <div class="col-3 d-flex justify-content-center">
                Lleno <img src="../../../../../assets/iconos/barra_llena.png" width="30" height="9" alt=""
                  class="ml-2 mt-2">
              </div>
              <div class="col-4 d-flex justify-content-center">
                Parcialmente lleno <img src="../../../../../assets/iconos/barra_parcial.png" width="25" height="9"
                  alt="" class="ml-2 mt-2">
              </div>
              <div class="col-3 d-flex justify-content-center">
                Vacío <img src="../../../../../assets/iconos/barra_vacia.png" width="30" height="9" alt=""
                  class="ml-2 mt-2">
              </div>
            </div>

            <div class="mr-3">
              <hr>
            </div>

            <div class="row mt-3 mb-3">
              <div class="col-2">
                Permisos:
              </div>
              <div class="col-5 d-flex justify-content-center">
                Visualizar <img style="margin: 0px 0px 0px 12%" width="20" height="20"
                  src="../../../../../assets/iconos/lectura.png" class="ml-2">
              </div>
              <div class="col-5 d-flex justify-content-center">
                Visualizar y editar <img style="margin: 0px 0px 0% 12%;" width="20" height="20"
                  src="../../../../../assets/iconos/escritura.png" class="ml-2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>