.card-body{
    padding-right: 6px
}

.jumbo-bg {
	background: #e9ecef;
}

.notice {
    background-color: #fafafa;
    border-bottom: 3px solid #7f7f84;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.responsive-res {
	width: 3vw;
	height: auto;
}

tbody > tr {
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

.hover-gris:hover {
    background: #e9ecef;
}