 <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div *ngIf="!loading" style="margin-bottom: 1%">

    <div class="row mt-md-2 ml-md-4 animated fadeIn fast">
        <h4>Familia {{fliaServ.familia.apellidoGrupoFamilia}}</h4>
    </div>

    <hr style="border-color: black;">

    <div class="row mt-md-2 mb-1 ml-md-4 animated fadeIn fast">
        <h5 class="font-weight-light">Relaciones familiares</h5>
    </div>

    <hr style="margin-top: 1%; margin-bottom: 2%; border-color: rgb(6, 167, 167);" class="col-11 d-flex justify-content-center">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container"> 
                        <table class="table">
                            <thead>
                                <tr>                            
                                    <th class="text-center">Paciente</th>
                                    <th class="text-center">es</th>
                                    <th class="text-center">Paciente</th>
                                    <th class="text-center">Responsable</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let relacion of relaciones; let i= index">
                                <td class="text-center">
                                <select class="form-control form-control-sm" name="pac1" [ngModel]="relacion.pacienteUno.idPaciente" (change)="refreshPacUno($event.target.value, i)">
                                    <option *ngFor="let integ of familia.integrantesFam" [value]="integ.idPaciente">{{ integ.nombrePaciente+" "+integ.apellidoPaciente }}</option>
                                </select>    
                                </td>

                                <td class="text-center">
                                <select class="form-control form-control-sm" name="tiporel" [ngModel]="relacion.tipoRelacion.idTipoRelacion" (change)="refreshTipoRel($event.target.value, i)">
                                    <option *ngFor="let tip of tiposRelacion" [value]="tip.idTipoRelacion">{{tip.nombre}}</option> 
                                </select>  
                                </td>

                                <td class="text-center">
                                <select class="form-control form-control-sm" name="pac2" [ngModel]="relacion.pacienteDos.idPaciente" (change)="refreshPacDos($event.target.value, i)">
                                    <option *ngFor="let integ of familia.integrantesFam" [value]="integ.idPaciente">{{ integ.nombrePaciente+" "+integ.apellidoPaciente }}</option>
                                </select>   
                                </td>

                                <td class="text-center" id="testForm">
                                <span class="form-check check-box p-0">
                                    <input class="align-middle" disabled id="resp" type="checkbox" [(ngModel)]="relaciones[i].responsable">
                                </span> 
                                </td> 

                                <td class="text-center">
                                <span class="check-box form-check p-0 align-middle">
                                    <input class="align-middle" type="checkbox" id="checkBoxE" (change)="modalDeleteRelacion($event.target.checked, i)"> 
                                </span>
                                </td>
                                
                            </tr>
                            </tbody>
                        </table>

                            <p class="mt-3 ml-3">
                                <button class="btn btn-success btn-sm" (click)="reiniciarNuevaRelForm()" type="button" data-type="plus" data-toggle="collapse" data-target="#nuevaRelacion" data-placement="top" title="Agregar" aria-expanded="false" aria-controls="collapseExample">
                                    Agregar
                                </button>
                            </p>

                            <div class="collapse" id="nuevaRelacion">
                            <div class="card card-body">
                                <div class="row d-flex justify-content-center" style="margin-left: 5%;">
                                    <div class="col-auto">
                                        <select class="form-control form-control-sm" name="pac1" [(ngModel)]= "nuevaRelacion.paciente1_id">
                                            <option *ngFor="let integ of familia.integrantesFam" [value]="integ.idPaciente">{{ integ.nombrePaciente+" "+integ.apellidoPaciente }}</option>
                                        </select>
                                    </div>

                                    <div class="col-auto">
                                        <select class="form-control form-control-sm" name="tiporel" [(ngModel)]= "nuevaRelacion.tipoRelacion_id">
                                            <option *ngFor="let tip of tiposRelacion" [value]="tip.idTipoRelacion">{{tip.nombre}}</option>
                                        </select>
                                    </div>

                                    <div class="col-auto">
                                        <select class="form-control form-control-sm" name="pac2" [(ngModel)]= "nuevaRelacion.paciente2_id">
                                            <option *ngFor="let integ of familia.integrantesFam" [value]="integ.idPaciente">{{ integ.nombrePaciente+" "+integ.apellidoPaciente }}</option>
                                        </select>
                                    </div>

                                    <p class="font-italic ml-2">
                                        <small>Presione 'guardar' para confirmar operación.</small>
                                    </p>

                                </div>
                            </div>
                            </div>

                            <hr class="mt-2 mb-2">

                            <div class="row d-flex justify-content-center">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalGuardar">Guardar</button> 
                            </div>
                                

                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    


    <!--modal eliminar relación-->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-body">
                <p>¿Desea eliminar la relación familiar seleccionada?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="borrarCheckBoxChecked()">Volver</button>
                <button type="button" class="btn btn-danger" (click)="eliminarRelacion()" data-dismiss="modal">Eliminar</button>
            </div>
            </div>
        </div>
    </div>
    <!--modal eliminar relación-->
    
    <!--modal confirmar modificación de relaciones-->
    <div class="modal fade" id="modalGuardar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-body">
                <p>¿Desea guardar las relaciones familiares?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="botonVolverModalEditarRelFam" data-dismiss="modal">Volver</button>
                <button type="button" class="btn btn-success" id="boton" (click)="guardarRelaciones()" data-dismiss="modal">Confirmar</button>
            </div>
            </div>
        </div>
    <!--modal confirmar modificación de relaciones-->

</div>
