.scrollable {
  overflow:scroll;
}

body{
    color: rgb(1, 8, 14);
    width: 100%;
    height: 100%;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#alertdiv{
  position: fixed;
  right:2vw;
  bottom: -120px;
  transition:all 0.6s ease;
  opacity:0;
}

.moduloSelec{
  border: 1px solid white;
}

#alertdiv.on{
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  opacity: 1;
}

.class-logo{
    width: 120px;
}
.fast {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fadeIn {
    animation-name: fadeIn;
  }

  .container1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 350px;
    margin-left: 350px;
  }
  .containerCajaTexto {
    margin-left: 90px;
    margin-right: 90px;
  }
  .fixedElement {
    width: 100%;
    position: fixed;
    top: 0;

  }

  body{
      color: rgb(1, 8, 14);
      width: 100%;
      height: 100%;
  }
  .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    .class-logo{
      width: 120px;
    }
    .fast {
      -webkit-animation-duration: 0.4s;
      animation-duration: 0.4s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fadeIn {
    animation-name: fadeIn;
  }


  .jumbotronCajaLogin{
    width: 700px;
    height: 550px;
    align-items: center; /*Caja gris del login*/
    margin-top: 50px;
    margin-left: 303px;
  }


  .container2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 350px;
    margin-left: 350px;
  }

  .containerCajaTexto {
    margin-left: 90px;
    margin-right: 90px;
  }

  .fixedElement {
    width: 100%;
    position: fixed;
    top: 0;
  }

  .margenTopButton{
    margin-top: 80px; /*Margen para después del navbar.*/
    margin-bottom: 50px;
}
