.resalta:hover {
    cursor: pointer;
    background-color: rgb(0, 128, 255)!important;
}

div>.dropdown-item:hover {
    cursor: pointer;
    background-color: rgb(115, 179, 243)!important;
    color: white;
}

#notificacion:hover {
    cursor: pointer;
    background-color: rgb(115, 179, 243) !important;
    color: white;
}