<nav class="navbar fixed-top navbar-light navbar-expand-lg" role="navigation" style="background-color:dodgerblue">

  <a (click)="irHome()" class="col-xs-1 mr-md-4" style="cursor: pointer;">
    <img src="/src/assets/iconos/logoHTML.png" alt="" width="36" height="36" class="align-left d-inline-block">
  </a>

  <div class="navbar-nav mr-auto">
    <div *ngIf="this._paciente.getPacNavbar()!= null">
      <div class="col-xs-auto mr-md-4 nav-item">
        <button (click)="irPacDetalle()" type="button" class="btn btn-primary btn-sm"
          style="background-color:dodgerblue; border-color: rgb(5, 109, 212)">
          {{ this._paciente.getPacNavbar().nombrePaciente }} {{ this._paciente.getPacNavbar().apellidoPaciente }}
        </button>
      </div>
    </div>
  </div>

  <div class="navbar-nav" style="position:fixed; right:50%; left:50%">
    <div class="container d-flex justify-content-center">
      <div *ngFor="let mod of listaModulos">
        <div class="row" style="padding-right: 0.25vw; padding-left:0.25vw">
          <div [ngSwitch]="mod" id="modulos">

            <div *ngSwitchCase="'Paciente'" id="paciente"
              class="resalta mr-4 pt-1 d-flex align-items-center d-flex justify-content-center"
              [routerLink]="['./paciente']" #divPaciente>
              <img src="/src/assets/iconos/stethoscope_light.png" class="ml-1" width="25" height="25" alt="">
              <p class="mt-3 ml-2 mr-2"> Paciente </p>
            </div>

            <div *ngSwitchCase="'Familia'" id="familia"
              class="resalta mr-4 pt-1 d-flex align-items-center d-flex justify-content-center"
              [routerLink]="['./familia']" #divFamilia>
              <img src="/src/assets/iconos/group_light.png" class="ml-1" width="25" height="25" alt="">
              <p class="mt-3 ml-2 mr-2"> Familia </p>
            </div>

            <div *ngSwitchCase="'Recordatorios'" id="recordatorio"
              class="resalta mr-4 pt-1 d-flex align-items-center d-flex justify-content-center"
              [routerLink]="['./recordatorio']" #divRecordatorio>
              <img src="/src/assets/iconos/exclamation_light.png" class="ml-1" width="25" height="25" alt="">
              <p class="mt-3 ml-2 mr-2"> Recordatorios </p>
            </div>

            <div *ngSwitchCase="'Asistencia'" id="asistencia"
              class="resalta mr-4 pt-1 d-flex align-items-center d-flex justify-content-center"
              [routerLink]="['./asistencia']" #divAsistencia>
              <img src="/src/assets/iconos/check-list-and-pencil_light.png" class="ml-1" width="25" height="25" alt="">
              <p class="mt-3 ml-2 mr-2"> Asistencia </p>
            </div>

            <div *ngSwitchCase="'Estadistica'" id="estadistica"
              class="resalta mr-4 pt-1 d-flex align-items-center d-flex justify-content-center"
              [routerLink]="['./estadisticas']" #divEstadistica>
              <img src="/src/assets/iconos/statistics_light.png" class="ml-1" width="25" height="25" alt="">
              <p class="mt-3 ml-2 mr-2"> Estadística </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <button *ngIf="this.profesionalNV.user.username!== 'recepcionista'" type="button" id="botonNotif"
      class="btn btn-primary d-flex justify-content-end" (click)="controlNotif()" data-toggle="dropdown"
      style="border-color: dodgerblue; background-color: dodgerblue">
      <img src="/src/assets/iconos/notification_light.png" alt="" width="30" height="30"
        class="align-left d-inline-block">
      <span class="sr-only">(current)</span><sup><span *ngIf="(this.recordatorios.length> 0) && (this.mostrarNotifRojo)"
          class="nav-link badge badge-danger mt-1" style="margin-left: 1%;"> {{ this.recordatorios.length }}
        </span></sup>
    </button>

    <ul class="dropdown-menu dropdown-menu-right mt-2">
      <li *ngFor="let recordatorio of recordatorios; let i= index">
        <a class="dropdown-item" id="notificacion" (click)="irRecordatorio()">
          <ul class="col-auto">
            <li><small> Paciente: <strong>{{recordatorio.paciente.nombrePaciente}}
                  {{recordatorio.paciente.apellidoPaciente}}</strong></small></li>
            <li><small> {{recordatorio.descripcion}} </small></li>
          </ul>
        </a>
      </li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle text-light btn-md" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false"
      style="background-color:dodgerblue; border-color: dodgerblue; margin-left: 20px;">
      {{ this.sesionServ.getProfesional().user.username }}
      <img src="/src/assets/iconos/user_light.png" width="30" height="30" class="align-right d-inline-block">
    </button>
    <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" [routerLink]="['verProfesional']">Ver profesional</a>
      <a class="dropdown-item" data-toggle="modal" data-target="#cambiarContrasena">Cambiar contraseña</a>
      <a class="dropdown-item" role="button" (click)="cerrarSesion()">Cerrar sesión</a>
    </div>
  </div>

</nav>

<!-- Modal de cambio de contraseña -->
<div class="modal fade" id="cambiarContrasena" role="dialog" aria-labelledby="exampleModalCenterTitle"
  data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="p-3">
          <h2>Renueve su contraseña</h2>
          <form #passwordsForm='ngForm' (ngSubmit)="confirmarContrasena(passwordVieja, passwordNueva1)">

            <!-- Password ACTUAL -->

            <div class="form-group" ngModelGroup="password" #password="ngModelGroup">
              <input type="password" class="form-control" placeholder="Introduzca la contraseña actual"
                #passwordActual="ngModel" name="passwordActual" required minlength="8" id="passwordActual"
                [(ngModel)]="passwordVieja">
            </div>

            <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>

              <!-- Password NUEVA -->

              <div class="form-group">
                <input type="password" class="form-control" placeholder="Introduzca la contraseña nueva"
                  #passwordA="ngModel" name="passwordA" required minlength="8" id="passwordA"
                  [(ngModel)]="passwordNueva1" pattern='^(?=.*\d)(?=.*[a-z]).*$'>
              </div>

              <!-- repetición de Password NUEVA -->

              <div class="form-group mt-1">
                <input type="password" class="form-control" placeholder="Repita la contraseña nueva"
                  #passwordB="ngModel" name="passwordB" required id="passwordB" [(ngModel)]="passwordNueva2">
              </div>
            </div>

            <div *ngIf="passwordB.invalid && (passwordA.dirty || passwordA.touched) && !passwordA.errors?.minlength"
              class="alert alert-danger ">
              Por favor, confirme su contraseña.
            </div>
            <div *ngIf="passwords.errors?.passwordCheck && (passwordB.dirty)" class="alert alert-danger">
              Las contraseñas no coinciden.
            </div>
            <div *ngIf="passwordA.errors?.pattern && passwordA.dirty" class="alert alert-danger">
              La contraseña debe tener números y letras.
            </div>
            <div *ngIf="passwordA.errors?.minlength" class="alert alert-danger">
              Su contraseña debe contener por lo menos 8 caracteres.
            </div>
            <div class="form-group" *ngIf="!passwords.valid || !password.valid; else enable">
              <button type="submit" class="btn btn-success btn-block" disabled>Renovar
                contraseña</button>
            </div>
            <ng-template #enable>
              <button type="submit" class="btn btn-success btn-block">Renovar
                contraseña</button>
            </ng-template>
          </form>
          <div *ngIf="alertError == true">
            <div class="d-flex justify-content-center animated fadeIn" id="alert_mensaje"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>